<div ng-if="vm.offline" class="offline">
    <a ng-href="auditlog"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div class="datagrid">
        <form>
            <div class="input-container">
                <label>From:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.fromDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>&nbsp;To:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.toDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>&nbsp;Action:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.action"/>
                <label>&nbsp;User:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.username"/>
                <button type="submit" class="btn btn-sm btn-primary connectorbutton" ng-click="vm.search()">
                    <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                </button>
            </div>
        </form>
    </div>
    <table class="table logtable" cellspacing="0" cellpadding="4">
        <tr>
            <th style="width:220px;">Date&nbsp;<sort-button property="datetime" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width:220px;">Action&nbsp;<sort-button property="action" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width:150px;">Username&nbsp;<sort-button property="username" order="vm.order" ng-click="vm.search()"/></th>
            <th>Data&nbsp;<sort-button property="data" order="vm.order" ng-click="vm.search()"/></th>
        </tr>
        <tr ng-repeat-start="log in vm.logs.rows">
            <td>{{log.datetime | date:'yyyy/MM/dd HH:mm:ss'}}</td>
            <td>{{log.action}}</td>
            <td>{{log.username}}</td>
            <td>
                <span>{{log.truncateMessage}}</span>
                <span ng-if="log.data.length>100">
                    <a href='' ng-click="vm.toggle(log)">{{log.toggleMessage}}</a>
                </span>
            </td>
        </tr>
        <tr class="more-message" ng-repeat-end ng-if="log.data.length>100" ng-show="log.showMessage">
            <td colspan="4">{{log.data}}</td>
        </tr>
    </table>
    <ul class='pagination'>
        <li ng-repeat="p in vm.pager" ng-class="{active:p.value==vm.pageNo}">
            <a ng-click="vm.page(p.value)">{{p.text}}</a>
        </li>
    </ul>
</div>