<div ng-if="vm.offline" class="offline">
    <a ng-href="rrclog"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div class="datagrid">
        <form>
            <div class="input-container">
                <label>From:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.fromDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>&nbsp;To:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.toDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>&nbsp;Site:&nbsp;</label>
                <select ng-model="vm.filter.site" ng-options="o as o for o in vm.sites" style="max-width:250px;"></select>
                <label>&nbsp;Message:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.message"/>
                <button type="submit" class="btn btn-sm btn-primary connectorbutton" ng-click="vm.search()">
                    <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                </button>
            </div>
        </form>
    </div>
    <table class="table logtable" cellspacing="0" cellpadding="4">
        <tr>
            <th style="width:180px;">Date&nbsp;<sort-button property="Date" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width:310px;">Site&nbsp;<sort-button property="Site" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width:120px;">Version&nbsp;<sort-button property="Version" order="vm.order" ng-click="vm.search()"/></th>
            <th>Message&nbsp;<sort-button property="Message" order="vm.order" ng-click="vm.search()"/></th>
        </tr>
        <tr ng-repeat-start="log in vm.logs.rows">
            <td>{{log.Date | date:'yyyy/MM/dd HH:mm:ss'}}</td>
            <td>{{log.Site}}</td>
            <td>{{log.Version}}</td>
            <td>
                <span>{{log.truncateMessage}}</span>
                <span ng-if="log.Message.length>90">
                    <a href='' ng-click="vm.toggle(log)">{{log.toggleMessage}}</a>
                </span>
            </td>
        </tr>
        <tr class="more-message" ng-repeat-end ng-if="log.Message.length>90" ng-show="log.showMessage">
            <td colspan="4">{{log.Message}}</td>
        </tr>
    </table>
    <ul class='pagination'>
        <li ng-repeat="p in vm.pager" ng-class="{active:p.value==vm.pageNo}">
            <a ng-click="vm.page(p.value)">{{p.text}}</a>
        </li>
    </ul>
</div>