<modal-collections-edit ng-cloak site="vm.modalCollectionsEditSite" show="vm.modalCollectionsEditShow" edit="vm.addshow" cssstyle="vm.cssstyle" modalstyle="vm.modalstyle" save="vm.saveClick" title="vm.modalCollectionsEditTitle"></modal-collections-edit>
<div ng-if="vm.offline" class="offline">
    <a ng-href="collections"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div style="margin: 12px 0 15px 6px; padding: 0;">
        <span style="font-size: 15px;"><strong>*</strong>&nbsp;Used to maintain customer master records for collections. Adding a customer with create required database automatically.</span>
        <br/>
    </div>
    <div class="datagrid">
        <form name="form">
            <div class="input-container">
                <label>&nbsp;Name:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.name" />
                <label>&nbsp;Host:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.host"/>
                <label>&nbsp;Database:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.dbserver" />
                <button type="submit" class="btn btn-sm btn-primary connectorbutton" ng-disabled="form.$invalid"
                        ng-click="vm.search()">
                    <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                </button>
            </div>
        </form>
    </div>
    <div class="datagrid">
        <table class="table table-hover proxygrid logtable" style="table-layout: fixed">
            <colgroup>
                <col>
                <col>
                <col>
                <col ng-if="root.hasWritePermission('Solutions', 'Collections')" style="width: 230px;">
            </colgroup>
            <tr>
                <th>Name <sort-button property="name" order="vm.order"/></th>
                <th>Host <sort-button property="host" order="vm.order"/></th>
                <th>Database <sort-button property="dbserver" order="vm.order"/></th>
                <th ng-if="root.hasWritePermission('Solutions', 'Collections')"></th>
            </tr>
            <tr ng-repeat="site in vm.collections | orderBy:vm.order.property:vm.order.reverse">
                <td style="overflow: hidden; white-space: nowrap" title="{{site.name}}">{{site.name}}</td>
                <td style="overflow: hidden; white-space: nowrap" title="{{site.host}}">{{site.host}}</td>
                <td style="overflow: hidden; white-space: nowrap" title="{{site.dbserver}}">{{site.dbserver}}</td>
                <td ng-if="root.hasWritePermission('Solutions', 'Collections')"  style="text-align: right; margin-right: 10px;">
                    <button class="btn btn-sm btn-primary" ng-click="vm.info(site.name, 'auth')"  data-toggle="popover" data-placement="top" data-content={{site.name}}-auth.collections.firmsteptest.com/admin.html data-trigger="hover">
                        <span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span>
                    </button>
                    <button class="btn btn-sm btn-primary" ng-click="vm.info(site.name)" data-toggle="popover" data-placement="top" data-content={{site.name}}.collections.firmsteptest.com/admin.html data-trigger="hover">
                        <span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span>
                    </button>
                    <button class="btn btn-sm btn-primary" ng-click="vm.editClick(site)">
                        <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
                    </button>
                    <button class="btn btn-sm btn-danger" ng-click="vm.deleteClick(site)" ng-hide="root.environment == 'live'">
                        <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>&nbsp;Delete
                    </button>
                </td>
            </tr>
        </table>
        <div class="Addbutton" ng-if="root.hasWritePermission('Solutions', 'Collections')">
            <button class="btn btn-sm btn-primary" ng-click="vm.addClick()">
                <span aria-hidden="true" class="glyphicon glyphicon-plus"></span> Add</button>
        </div>
    </div>
</div>