<div class="modal" ng-show="$ctrl.show" style="display: block; background-color: rgba(0,0,0,0.5)" ng-click="$ctrl.close()">
    <div class={{$ctrl.modalstyle}}  onclick="event.stopPropagation()">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{$ctrl.title}}</h4>
            </div>
            <div class={{$ctrl.cssstyle}}>
                <form name="form">
                    <table class="table addgeneric" ng-if="$ctrl.edit == false">
                        <colgroup>
                            <col style="width: 200px;">
                            <col style="width: auto;">
                            <col style="width: 180px;">
                        </colgroup>
                        <tr>
                            <td>DB Name :</td>
                            <td>{{$ctrl.site.dbname}}</td>
                        </tr>
                        <tr>
                            <td>DB Username :</td>
                            <td>{{$ctrl.site.dbuser}}</td>
                        </tr>
                        <tr>
                            <td>DB Password :</td>
                            <td>{{$ctrl.site.dbpassword}}</td>
                        </tr>
                        <tr>
                            <td>Auth Username :</td>
                            <td>{{$ctrl.site.authusername}}</td>
                        </tr>
                        <tr>
                            <td>Auth Password :</td>
                            <td>{{$ctrl.site.authpassword}}</td>
                        </tr>
                        <tr>
                            <td>Auth Site Hosts :</td>
                            <td><textarea placeholder="host1, host2" style="width: 100%;resize: vertical;" ng-model="$ctrl.site.authsitehosts"></textarea></td>
                        </tr>
                        <tr>
                            <td>Anon Site Hosts :</td>
                            <td><textarea placeholder="host1, host2" style="width: 100%;resize: vertical;" ng-model="$ctrl.site.anonsitehosts"></textarea></td>
                        </tr>
                        <tr>
                            <td>Additional IPs :</td>
                            <td><input type="text" name="additionalips" placeholder="127.0.0.1" pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" style="width: 100%" ng-model="$ctrl.site.additionalips"/></td>
                            <td><span class="error-message" ng-show="form.additionalips.$error.pattern">Invalid IP address.</span></td>
                        </tr>
                    </table>
                    <table class="table" ng-if="$ctrl.edit==true">
                        <colgroup>
                            <col style="width: 100px;">
                            <col style="width: auto;">
                            <col style="width: 180px;">
                        </colgroup>
                        <tr>
                            <td>DB Name:&nbsp;</td>
                            <td><input type="text" style="width: 400px;" ng-model="$ctrl.site.newdbname"/></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"  ng-click="$ctrl.save($ctrl.site)">
                    <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>&nbsp;Save</button>
                <button type="button" class="btn btn-default" ng-click="$ctrl.close()">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>
