html {
  background-color: white;
}

tbody {
  color: black;
  font-weight: bold;
}

.cpuchart img, .memchart img {
  background-color: white;
}

.cpu, .mem {
  text-shadow: none;
}

#showButton {
  background-color: #FFF;
}

#tag {
  color: #000;
}