html { background-color: #000; height: 100%; width: 100%; }
body { font: normal 10px Arial, Helvetica, Liberation Sans, sans-serif; color:#D3D4D4; overflow: auto; }
h2 { font-size: 1.2em; border: 0 none; }
table { border-collapse: collapse; }

.response-times { float: left; }
.autotest-results { float: left; }
.result {
	background-color: #009847;
	background: -moz-linear-gradient(100% 100% 90deg, rgba(0, 152, 71, .4), rgba(0, 152, 71, .8));
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 152, 71, .8)), to(rgba(0, 152, 71, .4)));
}
.result.ispoor { background: #E14F18; font-size: 1.2em; }
.result.isverypoor { background: #D3102B; font-size: 1.2em; }
.result.isempty { background: #334455; font-size: 1.2em; }
.result.isstale {
	background-color: #6f6363;
	background: -moz-linear-gradient(100% 100% 90deg, rgba(111, 99, 99, .5), rgba(111, 99, 99, .9));
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(111, 99, 99, .9)), to(rgba(111, 99, 99, .5)));
} 
.box {
	background-color: #DFDFDF;
	background: -moz-linear-gradient(100% 100% 90deg, #DFDFDF, #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EFEFEF), to(#DFDFDF));
}
	
.servers { border-collapse: collapse; }
.title { border: 1px solid gray; text-align:center; font-size:1.2em; }
.badbadbad { font-size: 1.2em !important; padding-left: 1px; padding-right: 1px; background-color: red; color: white; text-shadow: none !important; }
.warn { font-size: 1.2em !important; padding-left: 1px; padding-right: 1px; background-color: #FFC000; color: black; text-shadow: none !important; }
.earlywarn { display: inline;  padding-left: 1px; padding-right: 1px; background-color:#AAED11; color: black; }
.cpuchart, .memchart { border: 1px solid gray; }
.disk, .emailcount, .sessioncount{ border: 1px solid gray; }
.cpu, .mem { font-size: 1em; position: absolute; top: 1px; left: 2px; text-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black;}
.emailcount, .sessioncount { font-size: 1em }
.disk { font-size: 0.9em; min-width:35px; }
.cpuchart, .memchart { position: relative; }
.cpuchart img, .memchart img { width: 80px; height: 24px; background-color: #222; }
.disk .name:after { content: " - " }
.disk .name { display: block; float: left; height: 30px; line-height: 30px; font-size: 0.9em; vertical-align: top; text-align: left;}
.disk.allgood .name { height: auto; line-height: 1em; font-size: 1em; }
.disk.diskearlywarn {background-color:#AAED11; font-size: 1.2em; }
.disk.diskwarn { background-color: #FFC000; font-size: 1.2em; }
.disk.diskbadbadbad { background-color: red; color: white; font-size: 1.2em; }
.disk > .disk { border: 1px solid gray; }
.disk > .disk:last-child { border: 0; }
.autotest-table .result td { white-space: nowrap; }
.delays-table { width: 100%; font-size: 1em; margin: 0 auto 2px auto; }
.delays-table .monitored { font-size: 1em; text-align: right; background-color: #fff; }
.delays-table .row { background: none no-repeat scroll right center transparent; }
.delays-table .delay { text-align: center; border: 1px solid gray; color: #efefef; font-size: 1em; }
.delays-table th { padding: 3px; width: 60px; }
.colour-box { width: 1em; height: 1em;margin: 0 1em; float: left; }
.external .delays-table { font-size: 1em; }
.external .delays-table .monitored { font-size: 1em; }
.external .result.ispoor { 
	font-size: 1em;
	background: rgb(0, 152, 71);
	background: -moz-linear-gradient(100% 100% 90deg, rgba(0, 152, 71, .4), rgba(0, 152, 71, .8));
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 152, 71, .8)), to(rgba(0, 152, 71, .4))); } 
.external .result.isverypoor { font-size: 1em; }
.header-part2  { margin-bottom: 10px; }
table.sqsqueue { margin-bottom: 2px;}
.sqsqueue td {padding: 0 5px 0 5px;border: 1px solid gray; text-align:center;}
.sqsqueue li {display: inline; list-style:none; margin-right: 2px;}
#easyTooltip{
	padding:5px;
	border:1px solid #ccc;
	background:#f1f1f1;
}
	
.external .delays-table .delay, .external .delays-table .delay.ispoor { 					
	background-color: #BFBFBF;
	background-image: url(tick-32.png); 
	background-repeat: no-repeat;
	background-position: 50%;
	text-indent: -9999px;
}

.external .delays-table .delay.isverypoor, .external .delays-table .delay.isstale { 			
	background-color: #BFBFBF;	
	background-image: url(warning-32.png); 
}

#tag {
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
	width:100%;
	color: #efefef;
}

#tag > div {
    width:33%;
}

.lastupdated {
    display: inline-block;
    float: left;
	font-size: 1.4em;
}

.lastupdated .date {
	padding-left:1em;
}

.errorstatus {
    display: inline-block;
    float: right;
    text-align: right;
	font-size: 1.4em;
}

.functions {
    display: inline-block;
    text-align: center;
	position: fixed;
	left: 50%;
}

#features {
    width: 100%;
    height: 40px;
    background-color: #456;
}

#features > div {
    width:33%;
    text-align: center;
    display: inline-block;
    margin:  5px auto;
}

#features > div > button {
    border: none;
    width: 80px;
	border-radius: 3px;
	font-size: 12px;
	padding: 5px 10px;
	margin-top: 3px;
}

.on {
    background-color: #5cb85c;
}

.off {
    background-color: #f0ad4e;
}

#showButton {
    background-image: url('down_arrow.png');
    border: none;
    background-color: #000000;
    height: 11px;
    width: 16px;
    outline: none;
}

#hideButton {
	background-image: url('up_arrow.png');
	border: none;
	background-color: #000000;
	height: 11px;
	width: 16px;
	outline: none;
}

.status {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(https://my.pingdom.com/images/application.png) no-repeat;
	background-size: 208px 1461px;
}

.status.up { background-position:-28px -396px; }
.status.down { background-position:-28px -412px; }
.status.paused { background-position: -28px -445px; }
.status.unconfirmed_down { background-position:-28px -429px; }
.status.unknown { background-position:-28px -429px; }

.queue { color:#EFEFEF; margin: 1em 5%; width: auto; }
.queue th { padding:0 2px; width: 60px; }
.queue th.header { background-color:#667788; border-right:1px solid #EFEFEF;font-size: 1.2em; }
.queue td { border-bottom:1px solid #EFEFEF; border-right:1px solid #EFEFEF;font-size: 1.2em; text-align: center; }

div#container { margin: 5px; }
table { width: 100%; }
#header { margin: 0 auto;}

#header td { vertical-align:middle; }
#main td { vertical-align:top; }
td.name { font-size: 1em; white-space: nowrap; vertical-align: middle !important; padding-left: 2px; padding-right: 2px; text-align: center; }
td.cpuchart, td.cpu, td.memchart, td.mem { vertical-align: top !important; }
td.emailcount, td.sessioncount{ vertical-align: middle !important; padding: 3px;}
td.disk { vertical-align: top !important; }
td.cpuchart, td.memchart { width: 80px; }
td.delay.result { padding: 2px; }
