<div ng-if="vm.offline">
    offline
</div>
<modal-loading-page ng-cloak show="root.modalLoadingShow"></modal-loading-page>
<div class="homepage" ng-if="!vm.offline">
    <img src="../style/firmstep_logo_blue.png" alt="Home"/><br/>
    <p>Welcome to the Firmstep admin console</p>
</div>
