<div class="datagrid">
    <form name="form">
        <div class="input-container">
            <label>Start:&nbsp;</label>
            <div class="input-date">
                <input type="date" ng-model="vm.filter.start"/>
                <span class="glyphicon glyphicon-calendar"></span>
            </div>
            <label>&nbsp;End:&nbsp;</label>
            <div class="input-date">
                <input type="date" ng-model="vm.filter.end"/>
                <span class="glyphicon glyphicon-calendar"></span>
            </div>
            <label>&nbsp;Status:&nbsp;</label>
            <select ng-model="vm.filter.status" ng-options="s as s for s in vm.status"
                    style="width:100px;max-width:100px;"></select>
            <!--
            <input type="text" ng-model="vm.filter.Report" style="max-width:130px;">
            -->
            <label>&nbsp;Subject:&nbsp;</label>
            <input type="text" class="grow" ng-model="vm.filter.subject"/>
            <label>&nbsp;From:&nbsp;</label>
            <input type="text" class="grow" ng-model="vm.filter.from"/>
            <label>&nbsp;To:&nbsp;</label>
            <input type="text" class="grow" ng-model="vm.filter.to"/>
            <button type="submit" class="btn btn-sm btn-primary connectorbutton" ng-disabled="form.$invalid"
                    ng-click="vm.search()">
                <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
            </button>
        </div>
    </form>
</div>
<table class="table logtable" cellspacing="0" cellpadding="2">
    <colgroup>
        <col style="width:175px;"/>
        <col ng-if="vm.logs.status=='failed'" style="width:150px;"/>
        <col style="width:300px;"/>
        <col style="width:300px;"/>
        <col/>
    </colgroup>
    <tr>
        <th>Time</th>
        <th ng-if="vm.logs.status=='failed'">Reason</th>
        <th>Subject</th>
        <th>From</th>
        <th>To</th>
    </tr>
    <tr ng-repeat-start="log in vm.logs.rows">
        <td>{{log.time_received | date:'yyyy/MM/dd HH:mm:ss'}}</td>
        <td ng-if="vm.logs.status=='failed'" title="{{log.reason}}" style="overflow: hidden">{{log.reason}}</td>
        <td title="{{log.subject}}" style="overflow: hidden">{{log.subject}}</td>
        <td title="{{log.from_address}}" style="overflow: hidden">{{log.from_address}}</td>
        <td title="{{log.to_address}}" style="overflow: hidden">{{log.to_address}}</td>
    </tr>
</table>
<ul class='pagination'>
    <li ng-repeat="p in vm.pager" ng-class="{active:p.value==vm.pageNo}">
        <a ng-click="vm.page(p.value)">{{p.text}}</a>
    </li>
</ul>