<div ng-if="vm.offline" class="offline">
    <a ng-href="emailfailedlog"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>
<div ng-if="!vm.offline">
    <div class="datagrid">
        <form name="form">
            <div class="input-container">
                <label>Start:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.start"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>&nbsp;End:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.end"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>&nbsp;From:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.from"/>
                <label>&nbsp;To:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.to"/>
                <label>&nbsp;Subject:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.subject"/>
                <button type="submit" class="btn btn-sm btn-primary connectorbutton" ng-disabled="form.$invalid"
                        ng-click="vm.search()">
                    <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                </button>
            </div>
        </form>
    </div>
    <table class="table logtable tbl-layout" cellspacing="0" cellpadding="2">
        <colgroup>
            <col style="width:165px;"/>
            <col style="width:280px;"/>
            <col style="width:280px;"/>
            <col/>
            <col/>
        </colgroup>
        <tr>
            <th>Time&nbsp;<sort-button property="time_received" order="vm.order" ng-click="vm.search()"/></th>
            <th>From&nbsp;<sort-button property="from_address" order="vm.order" ng-click="vm.search()"/></th>
            <th>To&nbsp;<sort-button property="to_address" order="vm.order" ng-click="vm.search()"/></th>
            <th>Subject&nbsp;<sort-button property="subject" order="vm.order" ng-click="vm.search()"/></th>
            <th>Reason&nbsp;<sort-button property="reason" order="vm.order" ng-click="vm.search()"/></th>
        </tr>
        <tr ng-repeat="log in vm.logs.rows">
            <td>{{log.time_received | date:'yyyy/MM/dd HH:mm:ss'}}</td>
            <td title="{{log.from_address}}" style="overflow: hidden">{{log.from_address}}</td>
            <td title="{{log.to_address}}" style="overflow: hidden">{{log.to_address}}</td>
            <td title="{{log.subject}}" style="overflow: hidden">{{log.subject}}</td>
            <td title="{{log.reason}}" style="overflow: hidden">{{log.reason}}</td>
        </tr>
    </table>
    <ul class='pagination'>
        <li ng-repeat="p in vm.pager" ng-class="{active:p.value==vm.pageNo}">
            <a ng-click="vm.page(p.value)">{{p.text}}</a>
        </li>
    </ul>
</div>