<div class="modal-header">
    <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body">
    <p>{{modalOptions.bodyText}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn" ng-click="modalOptions.close()">
        {{modalOptions.closeButtonText}}
    </button>
    <button class="btn btn-primary" ng-click="modalOptions.ok();">
        {{modalOptions.actionButtonText}}
    </button>
</div>