<div ng-if="vm.offline" class="offline">
    <a ng-href="requestlog"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>AdminUI has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div ng-if="vm.showSummary == false">
        <div class="datagrid">
            <form>
                <div class="input-container">
                    <label>From:&nbsp;</label>
                    <div class="input-date">
                        <input type="date" ng-model="vm.filter.fromDate"/>
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                    <label>&nbsp;To:&nbsp;</label>
                    <div class="input-date">
                        <input type="date" ng-model="vm.filter.toDate"/>
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                    <label>&nbsp;Tab/Page:&nbsp;</label>
                    <select class="grow" ng-model="vm.filter.tab_page" ng-options="o as o for o in vm.tab_pages"></select>
                    <label>&nbsp;Endpoint:&nbsp;</label>
                    <select class="grow" ng-model="vm.filter.endpoint" ng-options="o as o for o in vm.endpoints"></select>
                    <label>&nbsp;Parameters:&nbsp;</label>
                    <input type="text" class="grow" ng-model="vm.filter.parameters"/>
                    <button type="submit" class="btn btn-sm btn-primary connectorbutton" ng-click="vm.search()">
                        <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                    </button>
                    <button class="btn btn-sm btn-primary connectorbutton" ng-click="vm.summary()">
                        <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Summary
                    </button>
                </div>
            </form>
        </div>

        <table class="table logtable" cellspacing="0" cellpadding="4">
            <tr>
                <th style="width:200px;">Date&nbsp;<sort-button property="datetime" order="vm.order" ng-click="vm.search()"/></th>
                <th style="width:220px;">Tab/Page&nbsp;<sort-button property="tab_page" order="vm.order" ng-click="vm.search()"/></th>
                <th style="width:250px;">Endpoint&nbsp;<sort-button property="endpoint" order="vm.order" ng-click="vm.search()"/></th>
                <th>Parameters&nbsp;<sort-button property="parameters" order="vm.order" ng-click="vm.search()"/></th>
                <th style="width:180px;">Execution Time&nbsp;<sort-button property="execution_time" order="vm.order" ng-click="vm.search()"/></th>
            </tr>
            <tr ng-repeat="log in vm.logs.rows">
                <td>{{log.datetime | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                <td>{{log.tab_page}}</td>
                <td>{{log.endpoint}}</td>
                <td>{{log.parameters}}</td>
                <td>{{log.execution_time}}</td>
            </tr>
        </table>
        <ul class='pagination'>
            <li ng-repeat="p in vm.pager" ng-class="{active:p.value==vm.pageNo}">
                <a ng-click="vm.page(p.value)">{{p.text}}</a>
            </li>
        </ul>
    </div>

    <div ng-if ="vm.showSummary == true">
        <div class="datagrid">
            <form>
                <div class="input-container">
                    <h3>Summary</h3>
                    <button class="btn btn-sm btn-primary connectorbutton" ng-click="vm.summary()">
                        <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Requests Details
                    </button>
                </div>
            </form>
        </div>

        <table  class="table logtable" cellspacing="0" cellpadding="4">
            <tr>
                <th style="width:250px;">Endpoint&nbsp;<sort-button property="endpoint" order="vm.order"/></th>
                <th style="width:250px;">Execution Time&nbsp;<sort-button property="execution_time" order="vm.order"/></th>
                <th style="width:250px;">Min Execution Time&nbsp;<sort-button property="min" order="vm.order"/></th>
                <th style="width:250px;">Max Execution Time&nbsp;<sort-button property="max" order="vm.order"/></th>
                <th style="width:250px;">Average Execution Time&nbsp;<sort-button property="average" order="vm.order"/></th>
            </tr>
            <tr ng-repeat="request in vm.requests.rows | orderBy:vm.order.property:vm.order.reverse">
                <td>{{request.endpoint}}</td>
                <td>{{request.execution_time}}</td>
                <td>{{request.min}}</td>
                <td>{{request.max}}</td>
                <td>{{request.average}}</td>
            </tr>
        </table>
    </div>
</div>
