<div ng-if="vm.offline" class="offline">
    <a ng-href="paymentlog"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div class="datagrid">
        <form>
            <div class="input-container">
                <label>Source:&nbsp;</label>
                <select ng-model="vm.filter.log" ng-options="o as o for o in vm.paymentSource"
                        style="width:190px;min-width:170px;"></select>
                <label>&nbsp;Ref:&nbsp;</label>
                <input type="text" class="input-message" ng-model="vm.filter.reference" style="width: 490px;"/>
                <label>&nbsp;Message:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.message" style="margin-right: 75px;"/>
            </div>
            <div class="input-container">
                <label>From:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.fromDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <div class="form-group col-md-1" >
                    <div class="input-group date timepicker" id="timeFromPicker">
                        <input type="text" class="form-control" placeholder="hh:mm:ss" ng-model="vm.filter.timeFrom"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <label>&nbsp;To:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.toDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <div class="form-group col-md-1" >
                    <div class="input-group date timepicker" id="timeToPicker">
                        <input type="text" class="form-control" placeholder="hh:mm:ss" ng-model="vm.filter.timeTo"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <label>&nbsp;Level:&nbsp;</label>
                <select ng-model="vm.filter.level" style="width:75px">
                    <option value="" selected>All</option>
                    <option value="DEBUG">Debug</option>
                    <option value="WARN">Warn</option>
                    <option value="ERROR">Error</option>
                </select>
                <label>&nbsp;Exception:&nbsp;</label>
                <input class="grow" type="text" ng-model="vm.filter.exception" />
                <button type="submit" class="btn btn-sm btn-primary connectorbutton" ng-click="vm.search()">
                    <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                </button>
            </div>
        </form>
    </div>
    <table class="table logtable" style="table-layout: fixed" cellspacing="0" cellpadding="4">
        <tr>
            <th style="width:165px;">Date&nbsp;<sort-button property="Date" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width:175px;">Source&nbsp;<sort-button property="Logger" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width:308px;">Reference&nbsp;<sort-button property="Reference" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width:430px;">Message&nbsp;<sort-button property="Message" order="vm.order" ng-click="vm.search()"/></th>
            <th>Exception&nbsp;<sort-button property="Exception" order="vm.order" ng-click="vm.search()"/></th>
        </tr>
        <tr ng-repeat-start="log in vm.logs.rows" ng-class="log.Level">
            <td>{{log.Date | date:'yyyy/MM/dd HH:mm:ss'}}</td>
            <td style="overflow: hidden; white-space:nowrap;" title="{{log.Logger}}">{{log.Logger}}</td>
            <td style="overflow: hidden; white-space:nowrap;" title="{{log.Reference}}">{{log.Reference}}</td>
            <td>
                <span>{{log.truncateMessage}}</span>
                <span ng-if="log.Message.length>40">
                    <a href='' ng-click="vm.toggle(log)">{{log.toggleMessage}}</a>
                </span>
            </td>
            <td>
                <span>{{log.truncateException}}</span>
                <span ng-if="log.Exception.length>40">
                    <a href='' ng-click="vm.toggle(log,1)">{{log.toggleException}}</a>
                </span>
            </td>
        </tr>
        <tr class="more-message" ng-if="log.Message.length>40" ng-show="log.showMessage">
            <td colspan="5">{{log.Message}}</td>
        </tr>
        <tr class="more-message" ng-repeat-end ng-if="log.Exception.length>40" ng-show="log.showException">
            <td colspan="5">{{log.Exception}}</td>
        </tr>
    </table>
    <ul class='pagination'>
        <li ng-repeat="p in vm.pager" ng-class="{active:p.value==vm.pageNo}">
            <a ng-click="vm.page(p.value)">{{p.text}}</a>
        </li>
    </ul>
</div>