<div class="form-group" >
    <div class="input-group date" id="{{$ctrl.timePickerId}}">
        <input type="text" class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>
    </div>
</div>