<modal-cms-process ng-cloak show="vm.modalCMSProcessShow" customer="vm.modalCMSProcessCustomer" save="vm.processConfirm" header="vm.modalCMSProcessTitle"></modal-cms-process>
<modal-cms-edit ng-cloak customer="vm.modalCMSEditCustomer" show="vm.modalCMSEditShow" save="vm.saveClick" header="vm.modalCMSEditTitle" showdp="vm.showDevPassword" showlp="vm.showLivePassword" showsp="vm.showStagingPassword"
                devvalidation="vm.devValidation" livevalidation="vm.liveValidation" tunnelvalidation="vm.liveTunnelAliasValidation"></modal-cms-edit>
<modal-shared-directory ng-cloak show="vm.modalSharedDirShow" customer="vm.modalSharedDirCustomer" original-option="vm.modalOriginalOption" data="vm.modalData" />

<div ng-if="vm.offline" class="offline">
    <a ng-href="cms"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>CMS Admin has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check CMS Admin API server is online on Monitoring</li>
            <li>Check CMS Admin API server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot CMS Admin API server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div class="datagrid">
        <div style="margin: 12px 0 15px 6px; padding: 0;">
            <span style="font-size: 15px;"><strong>*</strong>&nbsp;Used to maintain customer master records for CMS.</span>
            <br/>
        </div>
        <div class="filterbox datagrid ng-scope">
            <form name="form">
                <div class="input-container">
                    <label>Name:&nbsp;</label>
                    <input type="text" class="grow" ng-model="vm.filter.name">
                    <label>&nbsp;Live&nbsp;Domain:&nbsp;</label>
                    <input type="text" class="grow" ng-model="vm.filter.liveDomain">
                    <label>&nbsp;Live&nbsp;Tunnel&nbsp;IP:&nbsp;</label>
                    <input type="text" class="grow" ng-model="vm.filter.liveTunnelIp">
                    <label>&nbsp;Live&nbsp;DNS&nbsp;Alias:&nbsp;</label>
                    <input type="text" class="grow" ng-model="vm.filter.liveTunnelEndpoint">
                    <button class="btn btn-sm btn-primary" ng-click="vm.search()">
                        <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                    </button>
                </div>
            </form>
        </div>
        <div class="datagrid ng-scope">
            <table class="table table-hover proxygrid tbl-layout logtable" cellspacing="0" cellpadding="2">
                <colgroup>
                    <col style="width:180px;"/>
                    <col style="width:250px;"/>
                    <col style="width:150px;"/>
                    <col style="min-width:200px; max-width: 300px"/>
                    <col ng-if="root.hasWritePermission('CMS', 'Customer')" style="width:65px;"/>
                    <col ng-if="root.hasWritePermission('CMS', 'Customer')" style="width:480px;"/>
                </colgroup>
                <tr>
                    <th>Name</th>
                    <th>Live Domain</th>
                    <th>Live Tunnel IP</th>
                    <th>Live DNS Alias</th>
                    <th>Enabled</th>
                    <th ng-if="root.hasWritePermission('CMS', 'Customer')">&nbsp;</th>
                </tr>
                <tr ng-repeat="customer in vm.customers.rows">
                    <td style="overflow: hidden; white-space: nowrap;" title="{{customer.name}}">{{customer.name}}</td>
                    <td style="overflow: hidden; white-space: nowrap;" title="{{customer.liveDomain}}">{{customer.liveDomain}}</td>
                    <td style="overflow: hidden; white-space: nowrap;" title="{{customer.liveTunnelIp}}">{{customer.liveTunnelIp}}</td>
                    <td style="overflow: hidden; white-space: nowrap;" title="{{customer.liveTunnelEndpoint}}">{{customer.liveTunnelEndpoint}}</td>
                    <td>
                        <button style="width: 55px!important;" ng-disabled="!root.hasWritePermission('CMS', 'Customer')" ng-show="customer.enabled" class="btn btn-sm btn-success" ng-click="vm.change(customer)">On</button>
                        <button style="width: 55px!important;" ng-disabled="!root.hasWritePermission('CMS', 'Customer')" ng-show="!customer.enabled" class="btn btn-sm btn-warning" ng-click="vm.change(customer)">Off</button>
                    </td>
                    <td align="center" ng-if="root.hasWritePermission('CMS', 'Customer')">
                        <span ng-if="customer.processing == 1" class="left mlr4">Processing...</span>
                        <select ng-change="vm.sharedDirCheck(customer, {{customer.option}})" ng-model="customer.option"  ng-options="c as c.value for c in customer.availableOptions track by c.key" style="width:225px;" class="left mlr4" ng-if="customer.processing == 0"></select>
                        <button class="btn btn-sm btn-danger right mlr4" ng-click="vm.deleteClick(customer)">
                            <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>&nbsp;Delete
                        </button>
                        <button class="btn btn-sm btn-primary right mlr4" ng-click="vm.editClick(customer)">
                            <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
                        </button>
                        <button ng-if="customer.processing == 0" class="btn btn-sm btn-warning right mlr4" ng-click="vm.processClick(customer)">
                            <span aria-hidden="true" class="glyphicon glyphicon-ok"></span>&nbsp;Process
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="Addbutton" ng-if="root.hasWritePermission('CMS', 'Customer')">
            <button class="btn btn-sm btn-primary" ng-click="vm.addClick()">
                <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>&nbsp;Add
            </button>
        </div>
        <ul class='pagination'>
            <li ng-repeat="p in vm.pager" ng-class="{active:p.value==vm.pageNo}">
                <a ng-click="vm.page(p.value)">{{p.text}}</a>
            </li>
        </ul>
    </div>
</div>