<div class="modal" ng-show="$ctrl.show" style="display: block; background-color: rgba(0,0,0,0.5)" ng-click="$ctrl.close()">
    <div class="modal-dialog" style="top: 120px !important;" onclick="event.stopPropagation()">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{$ctrl.header}}</h4>
            </div>
            <div class="modal-body" style="height: 470px;">
                <form name="form">
                     <table class="table addgeneric">
                         <colgroup>
                            <col style="width: 215px;">
                            <col style="width: 400px;">
                            <col style="width: 360px;">
                         </colgroup>
                         <tr>
                             <td><span class="error-message">*</span>&nbsp;Name:&nbsp;</td>
                             <td><input type="text" name="name" required ng-model="$ctrl.customer.name" style="width:100%;" pattern="^[a-zA-Z-0-9_.\s]+$"></td>
                             <td><span class="error-message" ng-show="form.name.$error.pattern">Name can contain only a-z, 0-9, underscore, hyphen and period.</span>
                                 <span class="error-message" ng-show="form.name.$error.required && form.name.$dirty">Name required</span>
                             </td>
                         </tr>
                         <tr>
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> Primary DNS identifier e.g. {customername}.cms-dev.firmsteptest|firmstep.com</td>
                         </tr>
                         <tr>
                             <td><span class="error-message">*</span>&nbsp;Dev Branch:&nbsp;</td>
                             <td><input type="text" name="devBranch" required ng-model="$ctrl.customer.devBranch" style="width:100%;" pattern="^[0-9a-zA-Z-_]+$"></td>
                             <td><span class="error-message" ng-show="form.devBranch.$error.required && form.devBranch.$dirty">Dev branch required</span>
                                 <span class="error-message" ng-show="form.devBranch.$error.pattern">Dev branch can contain only a-z, 0-9, underscore, hyphen.</span>
                             </td>
                         </tr>
                         <tr>
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> The branch to reset {customername}.cms-dev.firmsteptest|firmstep.com web content</td>
                         </tr>
                         <tr>
                             <td>Dev Aliases:&nbsp;</td>
                             <td><input type="text" name="devAliases" ng-model="$ctrl.customer.devAliases" style="width:100%;"></td>
                             <td><span class="error-message" ng-show="!$ctrl.devvalidation">Please enter a valid dev aliases</span></td>
                         </tr>
                         <tr>
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> Each alias must be separated by comma (,) if multiple aliases are input.</td>
                         </tr>
                         <!--
                           <tr>
                               <td><span class="error-message">*</span> Staging Branch :</td>
                               <td><input type="text" name="stagingBranch" required ng-model="$ctrl.customer.stagingBranch" style="width:100%;" pattern="^[0-9a-zA-Z-_]+$"></td>
                               <td><span class="error-message" ng-show="form.stagingBranch.$error.pattern">Staging branch can contain only a-z, 0-9, underscore, hyphen.</span>
                                   <span class="error-message" ng-show="form.stagingBranch.$error.required && form.stagingBranch.$dirty">Staging branch required</span>
                               </td>
                           </tr>
                         -->
                         <tr>
                             <td><span class="error-message">*</span>&nbsp;Live Branch:&nbsp;</td>
                             <td><input type="text" name="liveBranch" required ng-model="$ctrl.customer.liveBranch" style="width:100%;" pattern="^[0-9a-zA-Z-_]+$"></td>
                             <td><span class="error-message" ng-show="form.liveBranch.$error.pattern">Live branch can contain only a-z, 0-9, underscore, hyphen.</span>
                                 <span class="error-message" ng-show="form.liveBranch.$error.required && form.liveBranch.$dirty">Live branch required</span>
                             </td>
                         </tr>
                         <tr>
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> The branch to reset {customername}.cms-staging|cms-live.firmsteptest|firmstep.com web content</td>
                         </tr>
                         <tr>
                             <td><span class="error-message">*</span>&nbsp;Live Domain:&nbsp;</td>
                             <td><input type="text" name="liveDomain" required ng-model="$ctrl.customer.liveDomain" pattern="^([a-z0-9]+([-a-z0-9]+)*\.)+[a-z]{2,}$" style="width:100%;"></td>
                             <td><span class="error-message" ng-show="form.liveDomain.$error.pattern">Please enter a valid live domain address</span>
                                 <span class="error-message" ng-show="form.liveDomain.$error.required && form.liveDomain.$dirty">Live Domain required</span>
                             </td>
                         </tr>
                         <tr>
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> The origin domain name of the customer</td>
                         </tr>
                         <tr>
                             <td>Live Aliases:&nbsp;</td>
                             <td><input type="text" name="liveAliases" ng-model="$ctrl.customer.liveAliases"style="width:100%;"></td>
                             <td><span class="error-message" ng-show="!$ctrl.livevalidation">Please enter a valid live aliases</span></td>
                         </tr>
                         <tr>
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span>&nbsp;Each alias must be separated by comma (,) if multiple aliases are input.</td>
                         </tr>
                         <tr>
                             <td>Live Tunnel IP:&nbsp;</td>
                             <td><input type="text" name="liveTunnelIp" ng-model="$ctrl.customer.liveTunnelIp" pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" style="width:100%;"></td>
                             <td><span class="error-message" ng-show="form.liveTunnelIp.$error.pattern">Please enter a valid live tunnel IP address</span></td>
                         </tr>
                         <tr>
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> IP used by Tunnel to proxy from</td>
                         </tr>
                         <tr>
                             <td>Live Tunnel Alias:&nbsp;</td>
                             <td><input type="text" name="liveTunnelEndpoint" ng-model="$ctrl.customer.liveTunnelEndpoint" style="width:100%;"></td>
                             <td><span class="error-message" ng-show="!$ctrl.tunnelvalidation">Please enter a valid live DNS alias</span></td>
                         </tr>
                         <tr>
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> DNS used by Tunnel to proxy to</td>
                         </tr>
                         <tr>
                             <td>Repository:&nbsp;</td>
                             <td><input type="text" name="repository" ng-model="$ctrl.customer.repository" pattern="^(/[-a-zA-Z0-9]+)+$" style="width:100%;"></td>
                             <td><span class="error-message" ng-show="form.repository.$error.pattern">Please enter a valid repository address</span></td>
                         </tr>
                         <tr>
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> Repository to copy customer data from. Note: Repository name is case-sensitive</td>
                         </tr>
                         <tr>
                             <td><span class="error-message">*</span>&nbsp;Directory:&nbsp;</td>
                             <td><input type="text" name="directory" required ng-model="$ctrl.customer.directory" pattern="^[a-zA-Z-0-9_.]+$" style="width:100%;"></td>
                             <td><span class="error-message" ng-show="form.directory.$error.pattern">Directory can contain only a-z, 0-9, underscore, hyphen and period.</span>
                                 <span class="error-message" ng-show="form.directory.$error.required && form.directory.$dirty">Directory required</span>
                             </td>
                         </tr>
                         <tr>
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> Directroy to copy customer data to</td>
                         </tr>
                         <tr>
                             <td><span class="error-message">*</span>&nbsp;Backup frequency:&nbsp;</td>
                             <td><select type="text" name="backupFrequency" ng-model="$ctrl.customer.backupFrequency" ng-selected="$ctrl.customer.backupFrequency" required style="width:100%;">
                                 <option value="Daily">Daily</option>
                                 <option value="12 Hourly">12 Hourly</option>
                                 <option value="6 Hourly">6 Hourly</option>
                                 <option value="Hourly">Hourly</option>
                             </select>
                             </td>
                         </tr>
                         <tr>
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> Customer database backup frequency, default daily</td>
                         </tr>

                         <tr><td colspan="3"><hr></td></tr>

                         <tr>
                             <td>Dev Host:&nbsp;</td>
                             <td><input type="text" name="devHostname" ng-model="$ctrl.customer.devHostname" style="width:100%;"></td>
                             <td></td>
                         </tr>
                         <tr>
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> Hostname for CMS-Dev database</td>
                         </tr>
                         <tr>
                             <td>Dev Database:&nbsp;</td>
                             <td><input type="text" name="devDatabase" ng-model="$ctrl.customer.devDatabase" style="width:100%;"></td>
                             <td></td>
                         </tr>
                         <tr>
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> Name for CMS-Dev database</td>
                         </tr>
                         <tr>
                             <td>Dev Username:&nbsp;</td>
                             <td><input type="text" name="devUsername" ng-model="$ctrl.customer.devUsername" style="width:100%;"></td>
                             <td></td>
                         </tr>
                         <tr>
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> Username for CMS-Dev database user</td>
                         </tr>
                         <tr>
                             <td>Dev Password:&nbsp;</td>
                             <td>
                                 <a style="color: red" ng-click="$ctrl.showdp = true" href="" ng-if="!$ctrl.showdp && $ctrl.customer.devPs">Change</a>
                                 <input type="text" name="devPassword" ng-show="$ctrl.showdp || !$ctrl.customer.devPs" ng-model="$ctrl.customer.devPassword" style="width:100%;">
                             </td>
                             <td></td>
                         </tr>
                         <tr>
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> Password for CMS-Dev database user</td>
                         </tr>

                         <tr><td colspan="3" ng-show="$ctrl.header == 'Edit'"><hr></td></tr>

                         <tr ng-if="$ctrl.header == 'Edit'">
                             <td>Staging Host:&nbsp;</td>
                             <td><input type="text" name="stagingHostname" ng-model="$ctrl.customer.stagingHostname" style="width:100%;"></td>
                             <td></td>
                         </tr>
                         <tr ng-if="$ctrl.header == 'Edit'">
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> Hostname for CMS-Staging database</td>
                         </tr>

                         <tr ng-if="$ctrl.header == 'Edit'">
                             <td>Staging Database:&nbsp;</td>
                             <td><input type="text" name="stagingDatabase" ng-model="$ctrl.customer.stagingDatabase"style="width:100%;"></td>
                             <td></td>
                         </tr>
                         <tr ng-if="$ctrl.header == 'Edit'">
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> Name for CMS-Staging database</td>
                         </tr>
                         <tr ng-if="$ctrl.header == 'Edit'">
                             <td>Staging Username:&nbsp;</td>
                             <td><input type="text" name="stagingUsername" ng-model="$ctrl.customer.stagingUsername" style="width:100%;"></td>
                             <td></td>
                         </tr>
                         <tr ng-if="$ctrl.header == 'Edit'">
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> Username for CMS-Staging database user</td>
                         </tr>
                         <tr ng-if="$ctrl.header == 'Edit'">
                             <td>Staging Password:&nbsp;</td>
                             <td>
                                 <a style="color: red" ng-click="$ctrl.showsp = true" href="" ng-show="!$ctrl.showsp && $ctrl.customer.stagingPs">Change</a>
                                 <input type="text" name="stagingPassword" ng-show="$ctrl.showsp || !$ctrl.customer.stagingPs" ng-model="$ctrl.customer.stagingPassword" style="width:100%;">
                            </td>
                             <td></td>
                         </tr>
                         <tr ng-if="$ctrl.header == 'Edit'">
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> Password for CMS-Staging database user</td>
                         </tr>

                         <tr><td colspan="3" ng-show="$ctrl.header == 'Edit'"><hr></td></tr>

                         <tr ng-if="$ctrl.header == 'Edit'">
                             <td>Live Host:&nbsp;</td>
                             <td><input type="text" name="liveHostname" ng-model="$ctrl.customer.liveHostname" style="width:100%;"></td>
                             <td></td>
                         </tr>
                         <tr ng-if="$ctrl.header == 'Edit'">
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> Hostname for CMS-Live database</td>
                         </tr>

                         <tr ng-if="$ctrl.header == 'Edit'">
                             <td>Live Database:&nbsp;</td>
                             <td><input type="text" name="liveDatabase" ng-model="$ctrl.customer.liveDatabase"style="width:100%;"></td>
                             <td></td>
                         </tr>
                         <tr ng-if="$ctrl.header == 'Edit'">
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> Name for CMS-Live database</td>
                         </tr>

                         <tr ng-if="$ctrl.header == 'Edit'">
                             <td>Live Username:&nbsp;</td>
                             <td><input type="text" name="liveUsername" ng-model="$ctrl.customer.liveUsername" style="width:100%;"></td>
                             <td></td>
                         </tr>
                         <tr ng-if="$ctrl.header == 'Edit'">
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> Username for CMS-Live database user</td>
                         </tr>

                         <tr ng-if="$ctrl.header == 'Edit'">
                             <td>Live Password:&nbsp;</td>
                             <td><a style="color: red" ng-click="$ctrl.showlp = true" href="" ng-show="!$ctrl.showlp && $ctrl.customer.livePs">Change</a>
                                 <input type="text" name="livePassword" ng-show="$ctrl.showlp || !$ctrl.customer.livePs" ng-model="$ctrl.customer.livePassword" style="width:100%;">
                             </td>
                             <td></td>
                         </tr>
                         <tr ng-if="$ctrl.header == 'Edit'">
                             <td colspan="3" class="description"><span style="font-weight:bold;">*</span> Password for CMS-Live database user</td>
                         </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="$ctrl.save($ctrl.customer)">
                    <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>&nbsp;Save
                </button>
                <button type="button" class="btn btn-default" ng-click="$ctrl.close()">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
                </button>
            </div>
        </div>
    </div>
</div>
