<div class="modal" ng-show="$ctrl.show" style="display: block; background-color: rgba(0,0,0,0.5)" ng-click="$ctrl.close()">
    <div class="modal-dialog modal-full" style="transform: translate(0,100px);" onclick="event.stopPropagation()">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{$ctrl.title}}</h4>
            </div>
            <div class="modal-body" style="height:auto;">
                <table class="table" style="margin:0;">
                    <tr>
                        <th style="width:160px; border-top:0px;">Customer</th>
                        <td style="border-top:0px;">{{$ctrl.customer.name}}</td>
                    </tr>
                    <tr>
                        <th>Action</th>
                        <td>{{$ctrl.customer.option.value}}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="$ctrl.save($ctrl.customer)">
                    <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span> Confirm</button>
                <button type="button" class="btn btn-default" ng-click="$ctrl.close()">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span> Cancel</button>
            </div>
        </div>
    </div>
</div>
