<div class="modal" ng-show="$ctrl.show" style="display: block; background-color: rgba(0,0,0,0.5)" ng-click="$ctrl.close()">
    <div class="modal-dialog modal-full" style="transform: translate(0,100px);" onclick="event.stopPropagation()">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Warning: The customer {{$ctrl.data.name}}</h3>
                <p>uses a common directory shared by other customers. <br/> Are you sure you want to overwrite the shared directory
                    <b>{{$ctrl.data.directory}}</b> with the <b>{{$ctrl.data.repository}}/{{$ctrl.data.environment}}_{{$ctrl.data.branch}}</b>?
                </p>
            </div>
            <div class="modal-footer center-block" style="text-align: center;!important">
                <button type="button" class="btn btn-primary" ng-click="$ctrl.confirm()">
                    <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span> Yes</button>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.close()">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span> No</button>
            </div>
        </div>
    </div>
</div>
