<div ng-if="vm.offline" class="offline">
    <a ng-href="downloadlog"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div class="datagrid">
        <form>
            <div class="input-container">
                <label>From:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.fromDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>&nbsp;To:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.toDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>&nbsp;Component:&nbsp;</label>
                <input type="text" ng-model="vm.filter.component" style="width:160px;">
                <label>&nbsp;Version:&nbsp;</label>
                <input type="text" ng-model="vm.filter.version" style="width:160px;">
                <label>&nbsp;Remote Address:&nbsp;</label>
                <input type="text" ng-model="vm.filter.remoteAddress" style="width:160px;">
                <button type="submit" class="btn btn-sm btn-primary connectorbutton" ng-click="vm.search()">
                    <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                </button>
            </div>
        </form>
    </div>
    <table class="table logtable" cellspacing="0" cellpadding="4">
        <tr>
            <th style="width:220px;">Log Time&nbsp;<sort-button property="logtime" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width:220px;">Component&nbsp;<sort-button property="component" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width:220px;">Version&nbsp;<sort-button property="version" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width:220px;">Remote Address&nbsp;<sort-button property="remote_address" order="vm.order" ng-click="vm.search()"/></th>
        </tr>
        <tr ng-repeat="log in vm.logs.rows">
            <td>{{log.logtime | date:'yyyy/MM/dd HH:mm:ss'}}</td>
            <td>{{log.component}}</td>
            <td>{{log.version}}</td>
            <td>{{log.remote_address}}</td>
        </tr>
    </table>
    <ul class='pagination'>
        <li ng-repeat="p in vm.pager" ng-class="{active:p.value==vm.pageNo}">
            <a ng-click="vm.page(p.value)">{{p.text}}</a>
        </li>
    </ul>
</div>