<div class="modal" ng-show="$ctrl.show" style="display: block; background-color: rgba(0,0,0,0.5)" ng-click="$ctrl.close()">
    <div class="modal-dialog" style="top:350px !important;" onclick="event.stopPropagation()">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{$ctrl.header}}</h4>
            </div>
            <div class="modal-body" style="height: 200px">
                <form name="form">
                    <table class="table addgeneric">
                        <colgroup>
                            <col style="width: 100px;">
                            <col style="width: auto;">
                            <col style="width: 220px;">
                        </colgroup>
                        <tr>
                            <td><span class="error-message">*</span> Name :</td>
                            <td><input type="text" name="name" required ng-model="$ctrl.rrc.name" style="width:100%;"></td>
                            <td>
                                <span class="error-message" ng-show="form.name.$dirty &&form.name.$error.required">Name required</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="error-message">*</span> URL :</td>
                            <td><input type="url" name="url" required ng-model="$ctrl.rrc.url" style="width:100%;"></td>
                            <td>
                                <span class="error-message" ng-show="form.url.$error.url">Please enter a valid URL</span>
                                <span class="error-message" ng-show="form.url.$dirty &&form.url.$error.required">URL required</span>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="maincontentholder_savebutton" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="$ctrl.save($ctrl.rrc)">
                    <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span> Save
                </button>
                <button type="button" class="btn btn-default"  ng-click="$ctrl.close()">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
