<modal-rrc-edit ng-cloak rrc="vm.modalRRCEdit" show="vm.modalRRCEditShow" save="vm.saveClick" header="vm.modalRRCEditTitle"></modal-rrc-edit>
<div ng-if="vm.offline" class="offline">
    <a ng-href="rrclog"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div class="datagrid">
        <form>
            <div class="input-container">
                <label>&nbsp;Name:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.name">
                <label>&nbsp;URL:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.url"/>
                <label>&nbsp;Version:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.version"/>
                <button type="submit" class="btn btn-sm btn-primary connectorbutton" ng-click="vm.search()">
                    <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                </button>
            </div>
        </form>
    </div>
    <table class="table logtable" cellspacing="0" cellpadding="4">
        <tr>
            <th style="width:240px;">Name&nbsp;<sort-button property="name" order="vm.order" ng-click="vm.search()"/></th>
            <th>URL&nbsp;<sort-button property="url" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width:155px;">Version&nbsp;<sort-button property="version" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width:240px;">Last checked <sort-button property="last_checked" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width:250px;">
                <button ng-if="root.hasWritePermission('Infrastructure', 'RRC Service')" ng-click="vm.check('all')" class="btn btn-sm btn-warning" style="float: right" title="Request all versions" >
                    <span aria-hidden="true" class="glyphicon glyphicon-refresh"></span>
                </button>
            </th>
        </tr>
        <tr ng-repeat="rrc in vm.rrcservice">
            <td>{{rrc.name}}</td>
            <td>{{rrc.url}}</td>
            <td>{{rrc.version}}</td>
            <td>{{rrc.last_checked}}</td>
            <td>
                <button ng-if="root.hasWritePermission('Infrastructure', 'RRC Service')" ng-disabled="!rrc.enabled" ng-click="vm.check(rrc)" class="btn btn-sm btn-warning" title="Request version">
                    <span aria-hidden="true" class="glyphicon glyphicon-refresh"></span>
                </button>
                <button style="width: 55px!important;" ng-disabled="!root.hasWritePermission('Infrastructure', 'RRC Service')" ng-show="rrc.enabled" class="btn btn-sm btn-success" ng-click="vm.change_enable_status(rrc)">On</button>
                <button style="width: 55px!important;" ng-disabled="!root.hasWritePermission('Infrastructure', 'RRC Service')" ng-show="!rrc.enabled" class="btn btn-sm btn-warning" ng-click="vm.change_enable_status(rrc)">Off</button>
                <button ng-if="root.hasWritePermission('Infrastructure', 'RRC Service')" ng-click="vm.editClick(rrc)" class="btn btn-sm btn-primary">
                    <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
                </button>
                <button ng-if="root.hasWritePermission('Infrastructure', 'RRC Service')" ng-click="vm.deleteClick(rrc)" class="btn btn-sm btn-danger">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>&nbsp;Delete
                </button>
            </td>
        </tr>
    </table>
    <div class="Addbutton" ng-if="root.hasWritePermission('Infrastructure', 'RRC Service')">
        <button class="btn btn-sm btn-primary" ng-click="vm.addClick()">
            <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>&nbsp;Add
        </button>
    </div>
</div>