﻿html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    width: 100%;
    background-color: #fff;
    color: #000;
    margin: 0 0 50px 0;
    top: 0;
    font-size: 16px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;

}

a {
    color: #000;
    text-decoration: none;
}

input textarea{
    border: 1px solid #ddd;
}

.header-div {
    background-color: #000;
    height: 50px;
    width: 100%;
    color: #fff;
    display: block;
    z-index: 2000;
    position: relative;
}

.header-left {
    height:35px;
    width: 40%;
    margin: 0 10px;
    padding-top: 12px;
    clear: right;
    float: left;
    display: inline-block;
    font-size: 20px;
    vertical-align: bottom;
}

toggle .toggle {
    width: 55px!important;
    height:30px!important;
}

.header-left a, .header-left a:hover {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.header-right {
    height:35px;
    width: 20%;
    margin: 0 5%;
    padding-top: 22px;
    float: right;
    font-size: 18px;
    display: inline-block;
    text-align: right;
    vertical-align: bottom;
}

.offline {
    margin-top: 20px;
    margin-left: 20px;
}

.offline-error {
    margin: 10px;
}

.resize {
    width: 40px;
    height:40px;
    margin-right: 10px;
}

.logo {
    width: 24px;
    margin: 0 5px 10px;
    vertical-align: middle;
}

.nav-bar {
    width: 100%;
    margin: 0;
    height: 50.4px;
    background-color: #d9edf7;
    text-align: right;
    font-size: 16px;
    z-index: 2000;
    position: relative;
}

.nav-bar ul {
    list-style: none;
    position: relative;
    display: block;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 0;

}

.nav-bar ul li {
    list-style-type: none;
    display: inline-block;
    /*float:right;*/
    margin: 0;
    padding: 14px 0;
    position:relative;

}
.nav-bar ul li a {
    color: #000;
    font-size: 16px;
    padding: 17px 15px;
    font-weight: normal;
    text-decoration: none;
}

.nav-bar>ul>li>a:hover, .nav-bar ul li.active a{
    background: #000;
    color: #fff;
    text-decoration: none;
}

.nav-bar ul li:hover > ul
{
    display:block;
}

/* sub-nav-menu */
.nav-bar ul li ul{
    display:none;
    position:absolute;
    width: 200px;
    height:auto;
    z-index: 2000;
    top:100%;
    right:0;
    background: #d9edf7;
}

.nav-bar ul li ul li {
    list-style-type: none;
    float: none;
    line-height:50px;
    text-align: left;
    display: block;
    padding:0;
}

.nav-bar ul li ul li a {
    height: 50px;
    font-size: 15px;
    padding: 0 10px;
    font-weight: normal;
    display: block;
}

.nav-bar ul li ul li:hover{
    background: #000;
}

.nav-bar ul li ul li:hover a{
    color:#fff;
    text-decoration: none;
}

.homepage {
    width: 46%;
    margin: 149px auto;
    font-size: 20px;
    text-align: center;
}

.homepage img {
    width: 50%;
    vertical-align: middle;
}

hr {
    border-color: #8c8c8c;
}

footer {
    width: 100%;
    background-color: #000;
    position: fixed;
    bottom: 0;
    text-align: right;
    color: #fff;
    font-size: 14px;
    z-index: 3;
}

.footer-right {
    margin-right: 5%;
    padding-right: 15px;
}

.maincontent {
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
}

#maincontentholder_SignUpSuccessContainer {
    width: 50%;
    font-size: 18px;
    margin: 30px auto;
}

#maincontentholder_pageindex {
    display: none;
}

.adminsignuptable {
    font-size: 18px;
    float: left;
    margin: 16px auto;
    max-width: 960px;
}

.adminsignuptable tbody tr td {
    border: none;
}

.adminsignuptable select,.adminsignuptable input {
    width: 100%;
    height: 29px;
}

.signupbutton {
    float: left;
    font-size: 20px;
    text-align: center;
    clear: both;
}

.datagrid {
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
}

.filterbox {
    margin: 10px 0;
}

#maincontentholder_nodatagrid {
    width: 50%;
    margin: 10px auto;
    text-align: center;
    font-size: 24px;
}

.proxygrid {
    color:#333333;
    border-collapse:collapse;
}

.proxygrid tr td {
    border-bottom: 1px solid #ddd;
}

.proxygrid tr th {
    font-weight: bold;
    border-top: none !important;
}

.download-table {
    table-layout: fixed;
}

.download-table input:not([type='button']) {
    width: 100%;
}

.hide-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.addgeneric {
     font-size: 18px;
     float: left;
     margin: 8px auto;
 }

.addgeneric tbody tr td{
    border: none;
}

#maincontentholder_addhttpdwngrd, #maincontentholder_addkepalv, #maincontentholder_addpooled {
    width: 50px;
    height: 20px;
}

.control-buttons a {
    margin-right: 10px;
}

#maincontentholder_downgradehttp, #maincontentholder_enablekeepalive, #maincontentholder_enablepooled {
    width: 50px;
    height: 20px;
}

.connetorfiltertable tr, .connetorfiltertable tr td {
    border: none !important;
    padding: 2px !important;
}

.logtable {
    font-size: 16px;
    float: left;
    margin: 0 auto 10px;
    color:#333;
    border-collapse:collapse;
}

.logtable tbody tr th {
    font-weight: bold;
    background-color: #ddd;
}

.logtable a {
    color: #428bca;
}

.logtable tbody tr td {
    border-bottom: 1px solid #ddd;
    border-top: 0 !important;
    word-break: break-all;
}

.logtable tr:last-child td {
    border-bottom: 0 !important;
}

.logtable>tbody>tr>td, .logtable>tbody>tr>th {
    padding: 8px;
}

.description {
    font-style: italic;
    color: #BDC3C7;
    font-size: 11pt;
    padding: 0 0 0 16px !important;
    margin: 0;
}

.logpaging tr td {
    float: left;
}

.logpaging tr td a {
    color: #428bca !important;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 3px 10px;
}

.logpaging tr td span {
    background-color: #428bca;
    color: #fff;
    border: 1px solid #ddd;
    padding: 3px 10px;
}

#maincontentholder_ConnectorGridView {
    width: 100%;
    *text-align: left;
    margin: 10px auto;
    word-break: break-all;
}

.proxygrid a {
    padding-top: 1px !important;
}

#pagingrepeater {
    padding-bottom: 10px !important;
}

#pagingrepeater a {
    color: #428bca;
    padding: 2px 5px;
    border: 1px solid #ddd;
}

.currentpage {
    color: #fff !important;
    background-color: #428bca;
}

.warning {
    color: #ff6600;
    font-weight: bold;
    padding: 10px;
}

.disabled {
    background-color: #EEE;
}

.transition {
    transition: all 0.3s ease;
}

.modal-dialog {
    position: absolute !important;
    margin: auto !important;
    width: 60%!important;
    height: calc(100% - 80px) !important;
    left: 0 !important;
    right: 0 !important;
    top: 30px !important;
    bottom: 0 !important;
}
.collection-dialog {
    top:300px !important;
}
.collection-edit-dialog {
    top:100px !important;
}
.collection-body {
    height: 150px !important;
}
.collection-edit-body {
    height: 430px !important;
}

.modal-body{
    height: 500px;
    overflow-y: auto;
    padding:0 15px 0 15px !important;
}

.error-message {
    color: red;
}

.datagrid input[type="date"]{
    max-width: 150px;
}

.datagrid button.btn {
    padding: 0 8px 0 6px;
    margin-top: -3px;
    margin-left:6px;
    height: 26px;
}

.datagrid .timepicker .form-control {
    height:29px;
    padding-left: 2px;
    border-radius: unset;
    border: solid 1px #a7a8a8;
    border-right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: inherit;
}

.datagrid .input-date + div {
    padding-left: 2px;
    width: 128px;
}

.datagrid .timepicker .input-group-addon{
    padding: 0 6px;
    border: solid 1px #a7a8a8;
    border-left: 0;
    border-radius: unset;
    background-color: inherit;
}
.datagrid .timepicker input[type="text"]::-webkit-input-placeholder {
    color: #000;
}

.radio-inline {
    padding-left: 25px !important;
}

.input-container {
    margin: 5px 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.input-container > * {
    margin: 0 1px;
}

.input-container .grow {
    flex-grow: 1;
    width: 20px;
}

.input-container select {
    height:29px;
}

.transparent {
    opacity: 0;
}

.input-date {
    position: relative;
}
.input-date > span {
    position: absolute;
    right:0;
    padding: 5px;
}
.input-date > input {
    position: relative;
    background: transparent;
    border: solid 1px #AAAAAA;
    width:100% !important;
    height: 29px;
    z-index: 2;
}
.input-date ::-webkit-calendar-picker-indicator {
    width: 16px;
    opacity: 0;
}

.more-message {
    background-color: #ddd;
}

.WARN {
    background-color: #F0F06F;
}

.ERROR {
    background-color: #E18E8E;
}

.sort-btn.btn {
    margin-bottom: 5px;
    padding: 0 6px;
}

.lite {
    color: #ddd;
}

.black {
    color: #000;
}

.right-spinner {
    animation: glyphicon-spin-r 3s infinite linear;
    font-size: 24px;
    width: 24px;
}
a.active {
    background-color: #000000;
    color: #ffffff !important;
}

.left{
    float: left;
}
.right{
    float: right;
}
.mlr4{
    margin: 0 4px;
}

.text-read-mode {
    border: none;
    width:500px;
}
.text-update-mode {
    border: 1px solid #a8a8a8;
    width:500px;
}

.popover {
    z-index: 50;
}

.host-title {
    display: inline-block;
    width: 40%;
}

@keyframes glyphicon-spin-r {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@media screen and (min-width: 1044px) and (max-width: 1300px) {
    .input-message {
        width:420px !important;
    }
}

@media screen and (max-width: 1044px) {
    .connetorfiltertable tr td {
        width: 33%;
        padding: 5px !important;
        display: block;
        float: left;
        clear: right;
    }

}
/* hide table column content if it is too long */
.hidden-hr{
    overflow-x:hidden;
}
.tbl-layout{
    table-layout:fixed;
    white-space: nowrap;
}
.tbl-width-cron{
    min-width:1580px;
}
.tbl-width-proxy{
    min-width:1440px;
}
.tbl-width-drupal{
    min-width:1440px;
}

.popover {
    max-width:100%;
}

@media screen and (max-width: 860px) {
    .connetorfiltertable tr td {
        width: 50%;
        padding: 5px !important;
        display: block;
        float: left;
        clear: right;
    }

    .nav-bar {
        width: 100%;
    }

}

@media screen and (max-width: 700px) {
    .nav-bar ul li {
        list-style-type: none;
        display: inline-block;
        margin: 0;
        padding: 15px 0;
    }

    .nav-bar ul li a {
        color: #000;
        font-size: 16px;
        padding: 20px;
        font-weight: normal;
    }

    .nav-bar ul li a:hover, .nav-bar ul li.active a {
        background-color: #000;
        color: #fff;
        padding: 20px;
        text-decoration: none;
    }
}

@media screen and (max-width: 520px) {
    .nav-bar {
        width: 100%;
        overflow: auto;
        float: left;
    }

    .nav-bar ul li {
        list-style-type: none;
        display: inline-block;
        margin: 0;
        padding: 15px 0;
    }

    .nav-bar ul li a {
        color: #000;
        font-size: 16px;
        padding: 8px;
        font-weight: normal;
    }

    .nav-bar ul li a:hover, .nav-bar ul li.active a {
        background-color: #000;
        color: #fff;
        padding: 8px;
        text-decoration: none;
    }
}

@media screen and (max-width: 400px) {
    .nav-bar {
        width: 100%;
        overflow: auto;
        float: left;
    }

    .nav-bar ul li {
        list-style-type: none;
        display: inline-block;
        margin: 0;
        padding: 15px 0;
    }

    .nav-bar ul li a {
        color: #000;
        font-size: 16px;
        padding: 8px;
        font-weight: normal;
    }

    .nav-bar ul li a:hover, .nav-bar ul li.active a {
        background-color: #000;
        color: #fff;
        padding: 8px;
        text-decoration: none;
    }
}

#loading {
    background: rgba(0, 0, 0, 0.4);
    width:100%;
    height: 100%;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1500;
}

#loading-icon {
    position: relative;
    z-index: 1500;
    margin: 0 auto;
    vertical-align: middle;
    color: black;
    display: table;
    top:300px;
}
