<modal-cronjob-edit ng-cloak cron-job="vm.modalCronjobEditSite" show="vm.modalCronjobEditShow" save="vm.saveClick" header="vm.modalCronjobEditTitle" message="vm.modalFailedMessage"></modal-cronjob-edit>
<div ng-if="vm.offline" class="offline">
    <a ng-href="cronjob"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div style="margin: 12px 0 15px 6px; padding: 0;">
        <div style="margin: 12px 0 15px 0; padding: 0;">
            <span style="font-size: 15px;"><strong>*</strong>&nbsp;Used to maintain cron jobs. Any adjustments will be propagated to the Crontab server within half an hour.</span>
            <br/>
        </div>
    </div>
    <div class="datagrid ng-scope">
        <form name="form">
            <div class="input-container">
                <label>&nbsp;Name:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.name" style="max-width:220px;">
                <label>&nbsp;Frequency:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.frequency" style="max-width:220px;">
                <label>&nbsp;URL:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.command" style="max-width:220px;">
                <label>&nbsp;Concurrent:&nbsp;</label>
                <select ng-model="vm.filter.concurrent" style="width:80px;">
                    <option value="" selected>All</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <label>&nbsp;MET:&nbsp;</label>
                <input type="number" min="0" class="grow" ng-model="vm.filter.execution_time" style="width: 80px"/>
                <label>&nbsp;Enabled:&nbsp;</label>
                <select ng-model="vm.filter.enabled" style="width:80px;">
                    <option value="" selected>All</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <button type="submit" class="btn btn-sm btn-primary connectorbutton" ng-click="vm.search()">
                    <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                </button>
            </div>
        </form>
    </div>
    <div class="datagrid">
        <table class="table logtable table-hover proxygrid tbl-layout" cellspacing="0" cellpadding="2">
            <colgroup>
                <col style="width:200px;"/>
                <col style="width:150px;"/>
                <col style="min-width:500px;"/>
                <col style="width:220px;"/>
                <col style="width:105px; text-align: center;"/>
                <col style="width:60px;"/>
                <col style="width:80px; text-align: center;"/>
                <col style="width:80px; text-align: center;"/>
                <col ng-if="root.hasWritePermission('Infrastructure', 'Crontab')" style="width:180px;"/>
            </colgroup>
            <tr>
                <th>Name <sort-button property="name" order="vm.order"/></th>
                <th>Frequency <sort-button property="frequency" order="vm.order"/></th>
                <th>URL <sort-button property="command" order="vm.order"/></th>
                <th>Comment <sort-button property="comment" order="vm.order"/></th>
                <th align="center">Concurrent</th>
                <th align="center" title="Max Execution Time">MET</th>
                <th align="center">Enabled</th>
                <th align="center">Delay</th>
                <th ng-if="root.hasWritePermission('Infrastructure', 'Crontab')">&nbsp;</th>
            </tr>
            <tr ng-repeat="cronJob in vm.cronJobs.data | orderBy:vm.order.property:vm.order.reverse">
                <td data-toggle="tooltip" style="overflow:hidden;" title="{{cronJob.name}}">{{cronJob.name}}</td>
                <td data-toggle="tooltip" style="overflow:hidden;" title="{{cronJob.frequency}}">{{cronJob.frequency}}</td>
                <td data-toggle="tooltip" style="overflow:hidden;" title="{{cronJob.command}}">{{cronJob.command}}</td>
                <td data-toggle="tooltip" style="overflow:hidden;" title="{{cronJob.comment}}">{{cronJob.comment}}</td>
                <td data-toggle="tooltip" style="text-align: center;"
                    title="If this option is enabled, it allows the execution of the task while the previous same task is running.">
                    <input type="checkbox" disabled ng-checked="cronJob.concurrent"></td>
                <td data-toggle="tooltip" style="overflow:hidden;" title="{{cronJob.execution_time}}"><span>{{cronJob.execution_time}}</span></td>
                <td data-toggle="tooltip" style="text-align: center;"
                    title="If this option is enabled, cron job will be written to active crontab."><input type="checkbox" disabled ng-checked="cronJob.enabled">
                </td>
                <td data-toggle="tooltip" style="text-align: center;"
                    title="If this option is enabled, job execution will be delayed 0-30 seconds to optimise server resources - If you need the job to run exactly on the minute disable this.">
                    <input type="checkbox" disabled ng-checked="cronJob.delay">
                </td>
                <td ng-if="root.hasWritePermission('Infrastructure', 'Crontab')">
                    <button class="btn btn-sm btn-primary" ng-click="vm.editClick(cronJob)">
                        <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
                    </button>
                    <button class="btn btn-sm btn-danger" ng-click="vm.deleteClick(cronJob)">
                        <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>&nbsp;Delete
                    </button>
                </td>
            </tr>
        </table>

        <div class="Addbutton" ng-if="root.hasWritePermission('Infrastructure', 'Crontab')">
            <button class="btn btn-sm btn-primary" ng-click="vm.addClick()">
                <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>&nbsp;Add
            </button>
        </div>
    </div>
</div>