<div class="modal" ng-show="$ctrl.show" style="display: block; background-color: rgba(0,0,0,0.5)" ng-click="$ctrl.close()">
    <div class="modal-dialog" style="top:120px !important" onclick="event.stopPropagation()">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{$ctrl.header}}</h4>
            </div>
            <div class="modal-body" style="height: 400px">
                <form name="form">
                    <table class="table addgeneric">
                        <colgroup>
                            <col style="width: 200px;">
                            <col style="width: auto;">
                            <col style="width: 260px;">
                        </colgroup>
                        <tr>
                            <td><span class="error-message">*</span> Name :</td>
                            <td><input type="text" name="name" required style="width:100%;" ng-model="$ctrl.cronJob.name"/></td>
                            <td><span class="error-message" ng-show="form.name.$error.required&&form.name.$dirty">Name required</span></td>
                        </tr>
                        <tr>
                            <td><span class="error-message">*</span> Frequency :</td>
                            <td><input type="text" name="frequency" placeholder="* * * * *" required style="width:100%;"
                                       ng-model="$ctrl.cronJob.frequency"/>
                            </td>
                            <td><span class="error-message"
                                      ng-show="form.frequency.$error.required&&form.frequency.$dirty">Frequency required</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="error-message">*</span> URL :</td>
                            <td><input type="url" name="command" placeholder="http://" required style="width:100%;"
                                       ng-model="$ctrl.cronJob.command"/></td>
                            <td>
                                <span class="error-message" ng-show="form.command.$error.required&&form.command.$dirty">URL required</span>
                                <span class="error-message" ng-show="form.command.$error.url&&form.command.$dirty">Not a valid URL</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Comment :</td>
                            <td><input type="text" style="width:100%;" ng-model="$ctrl.cronJob.comment"/></td>
                        </tr>
                        <tr>
                            <td title="Max Execution Time"><span class="error-message">*</span> MET :</td>
                            <td><input type="number" min="0" name="execution_time" placeholder="60 (Seconds)" required style="width:100%;" ng-model="$ctrl.cronJob.execution_time"/></td>
                            <td>
                                <span class="error-message" ng-show="form.execution_time.$error.required&&form.execution_time.$dirty">Execution Time required</span>
                                <span class="error-message" ng-show="form.execution_time.$error.number&&form.execution_time.$dirty">Execution Time must be a number</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="description">
                                <span style="font-weight:bold;">*</span>The number here is how many seconds the job is allowed to be executed. 0 means the job will be executed until it finishes.
                            </td>
                        </tr>
                        <tr>
                            <td>Concurrent :</td>
                            <td><input type="checkbox" ng-model="$ctrl.cronJob.concurrent" ng-true-value="1" ng-false-value="0"/></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="description">
                                <span style="font-weight:bold;">*</span> If this option is enabled, it allows the
                                execution of the
                                task while the previous same task is running.
                            </td>
                        </tr>
                        <tr>
                            <td>Enabled :</td>
                            <td><input type="checkbox" ng-model="$ctrl.cronJob.enabled" ng-true-value="1" ng-false-value="0"/></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="description">
                                <span style="font-weight:bold;">*</span> If this option is enabled, cron job will be
                                written to active crontab.
                            </td>
                        </tr>
                        <tr>
                            <td>Execution Delay :</td>
                            <td><input type="checkbox" ng-model="$ctrl.cronJob.delay" ng-true-value="1" ng-false-value="0"/></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="description">
                                <span style="font-weight:bold;">*</span> If this option is enabled, job execution will be delayed 0-30 seconds to optimise server resources - If you need the job to run exactly on the minute disable this.
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="maincontentholder_savebutton" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="$ctrl.save($ctrl.cronJob)">
                    <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>&nbsp;Save
                </button>
                <button type="button" class="btn btn-default" ng-click="$ctrl.close()">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
                </button>
            </div>
        </div>
    </div>
</div>
