<div ng-if="vm.container==1">
    Your account has been created/updated!<br>
    <a ng-href="{{vm.passwordLink}}" target="_blank" style="color:#0094FF;">Click here to set your password.</a><br>
    <a style="color:#0094ff" href="" ng-click="vm.reset()">Create another user</a>
</div>

<div ng-if="vm.offline" class="offline">
    <a ng-href="globaladmin"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <form name="form" ng-if="!vm.container">
        <div style="margin: 12px 0 0 6px; padding: 0;">
            <span style="font-size: 15px;"><strong>*</strong>&nbsp;Used to create global administrator accounts on your selected site.</span>
        </div>
        <table class="table adminsignuptable">
            <tr>
                <td style="width: 200px">&nbsp;&nbsp;Site:&nbsp;</td>
                <td>
                    <select required ng-model="vm.account.sitename" ng-options="o as o for o in vm.sites"></select>
                </td>
                <td style="width: 300px"></td>
            </tr>
            <tr>
                <td><span class="error-message">*</span>&nbsp;Full Name:&nbsp;</td>
                <td>
                    <input type="text" name="fullName" required ng-model="vm.account.fullname">
                </td>
                <td>
                    <span class="error-message" ng-show="form.fullName.$dirty && form.fullName.$error.required">Full Name is required</span>
                </td>
            </tr>
            <tr>
                <td><span class="error-message">*</span>&nbsp;Email address:&nbsp;</td>
                <td>
                    <input type="email" name="email" required ng-model="vm.account.email">
                </td>
                <td>
                    <span class="error-message" ng-show="form.email.$dirty && form.email.$error.required">Email Address is required</span>
                    <span class="error-message" ng-show="form.email.$dirty && form.email.$error.email">Invalid Email Address</span>
                </td>
            </tr>
        </table>
        <div class="signupbutton" ng-if="root.hasWritePermission('OAF', 'Global Admin')">
            <button style="margin-left: 15px" class="btn btn-sm btn-primary" ng-disabled="form.$invalid" ng-click="vm.signUp()">
                <span aria-hidden="true" class="glyphicon glyphicon-ok"></span>&nbsp;Apply</button>
        </div>
    </form>
</div>