.header-div {
    background-color: #000;
    height: 50px;
    width: 100%;
    color: #fff;
    display: block;
}

.header-left {
    height: 35px;
    width: 40%;
    margin: 0 10px;
    padding-top: 12px;
    clear: right;
    float: left;
    display: inline-block;
    font-size: 20px;
    vertical-align: bottom;
}

.right-spinner {
    animation: glyphicon-spin-r 3s infinite linear;
    font-size: 24px;
    width: 24px;
}

.transparent {
    opacity: 0;
}

.logo {
    width: 24px;
    margin: 0 5px 10px;
    vertical-align: middle;
}

.main-content {
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
}

footer {
    width: 100%;
    background-color: #000;
    position: fixed;
    bottom: 0;
    text-align: right;
    color: #fff;
    font-size: 14px;
}

.footer-right {
    margin-right: 5%;
    padding-right: 15px;
}

.dld-tbl {
    max-width: 1000px;
}

.ng-cloak {
    display: none;
}

@keyframes glyphicon-spin-r {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}