<div class="modal" ng-show="$ctrl.show" style="display: block; background-color: rgba(0,0,0,0.5)" ng-click="$ctrl.close()">
    <div class="modal-dialog" style="top:350px !important; width: 40% !important" onclick="event.stopPropagation()">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{$ctrl.title}}</h4>
            </div>
                <div class="modal-body" style="height: 180px">
                    <form name="form">
                        <table class="table addgeneric">
                            <colgroup>
                                <col style="width: 85px;">
                                <col style="width: 375px;">
                            </colgroup>
                            <tr ng-if="$ctrl.add">
                                <td><span class="error-message">*</span>&nbsp;Calendar:&nbsp;</td>
                                <td><input name="calendar" ng-model="$ctrl.holidays.calendar" required></td>
                            </tr>
                            <tr ng-if="$ctrl.add">
                                <td><span class="error-message">*</span>&nbsp;Holiday:&nbsp;</td>
                                <td><input type="date" ng-model="$ctrl.holidays.holiday" required/></td>
                            </tr>
                            <tr>
                                <td>&nbsp;Notes:&nbsp;</td>
                                <td><textarea ng-model="$ctrl.holidays.notes" style="width: 400px"/></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="maincontentholder_savebutton" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="$ctrl.save($ctrl.holidays)">
                        <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span> Save
                    </button>
                    <button type="button" class="btn btn-default"  ng-click="$ctrl.close()">
                        <span aria-hidden="true" class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
