<modal-holidays-edit ng-cloak holidays="vm.modalHolidaysEditMap" show="vm.modalHolidaysEditShow" add="vm.addshow" save="vm.saveClick" update="vm.updateClick" title="vm.modalHolidaysEditTitle"></modal-holidays-edit>
<div ng-if="vm.offline" class="offline">
    <a ng-href="holidays"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Solutions has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Solutions Admin API server is online on Monitoring</li>
            <li>Check Solutions Admin API server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Solutions Admin API server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>
<div ng-if="!vm.offline">
    <div class="datagrid">
        <div style="margin: 12px 0 15px 6px; padding: 0;">
            <span style="font-size: 15px;"><strong>*</strong>&nbsp;Used to maintain holidays. Select a calendar and year to search for holidays.</span>
            <br/>
        </div>
        <div>
            <form>
                <div class="input-container">
                    <label style="margin-left: 10px">Calendar:&nbsp;</label>
                    <select style="width:420px;" ng-model="vm.filter.calendar"
                            ng-options="o.calendar as o.calendar for o in vm.calendars"
                            ng-change="vm.getYear(vm.filter.calendar);"></select>
                    <span ng-show="vm.year.length">
                <label style="margin-left: 15px">Year:&nbsp;</label>
                <select ng-model="vm.filter.holiday" ng-options="o.year as o.year for o in vm.year"
                        ng-change="vm.search()" style="width: 70px;"></select>
                </span>
                </div>
            </form>
        </div>
        <div>
            <table class="table proxygrid" cellspacing="0" cellpadding="2">
                <colgroup>
                    <col style="width:220px;"/>
                    <col ng-if="root.hasWritePermission('Solutions', 'Holidays')"/>
                    <col style="width:70px;" ng-if="root.hasWritePermission('Solutions', 'Holidays')"/>
                    <col style="width:120px;" ng-if="root.hasWritePermission('Solutions', 'Holidays')"/>
                </colgroup>
                <tr ng-repeat="holiday in vm.holiday_list">
                    <td><span>{{holiday.holiday}}</span></td>
                    <td>{{holiday.notes}}</td>
                    <td ng-if="root.hasWritePermission('Solutions', 'Holidays')">
                        <button class="btn btn-sm btn-primary" ng-click="vm.editClick(holiday)">
                            <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
                        </button>
                    </td>
                    <td ng-if="root.hasWritePermission('Solutions', 'Holidays')">
                        <button class="btn btn-sm btn-danger" ng-click="vm.deleteClick(holiday)">
                            <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>&nbsp;Delete
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="Addbutton" ng-if="root.hasWritePermission('Solutions', 'Holidays')">
            <button class="btn btn-sm btn-primary" ng-click="vm.addClick()">
                <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>&nbsp;Add
            </button>
        </div>
    </div>
</div>
