<div class="modal" ng-show="$ctrl.show" style="display: block; background-color: rgba(0,0,0,0.5)" ng-click="$ctrl.close()">
    <div class="modal-dialog" style="top:190px !important" onclick="event.stopPropagation()">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{$ctrl.title}}</h4>
            </div>
            <div class="modal-body" style="height: 350px">
                <form name="form">
                    <table class="table addgeneric">
                        <colgroup>
                            <col style="width: 200px;">
                            <col style="width: auto;">
                            <col style="width: 220px;">
                        </colgroup>
                        <tr>
                            <td><span class="error-message">*</span> Path :</td>
                            <td><input type="text" name="path" pattern="^[a-zA-Z-0-9_.]+$" required ng-model="$ctrl.map.path" ng-disabled="vm.edit" style="width:100%;"></td>
                            <td>
                                <span class="error-message" ng-show="form.path.$error.pattern">Path can contain only a-z, 0-9, underscore, hyphen and period.</span>
                                <span class="error-message" ng-show="form.path.$dirty &&form.path.$error.required">Path required</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="error-message">*</span> URL :</td>
                            <td><input type="text" name="hostUrl" pattern="^http(s?)\:\/\/[0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*(:(0-9)*)*(\/?)([a-zA-Z0-9\-\.\?\,\'\/\\\+&amp;%\$#_]*)?$"
                                       required ng-model="$ctrl.map.url" style="width:100%;"></td>
                            <td>
                                <span class="error-message" ng-show="form.hostUrl.$error.pattern">Please enter a valid URL</span>
                                <span class="error-message" ng-show="form.hostUrl.$dirty &&form.hostUrl.$error.required">URL required</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Test URL :</td>
                            <td><input type="text" ng-model="$ctrl.map.test_url" style="width:100%;"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="width:280px;">Comment :</td>
                            <td><input type="text" ng-model="$ctrl.map.comment" style="width:100%;"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Chunked Workaround :</td>
                            <td>
                                <span title="Toggle VirtualHost downgrade-1.0 &amp; force-proxy-request-1.0 options"><input type="checkbox" ng-model="$ctrl.map.http_downgrade" ng-true-value="1" ng-false-value="0"></span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Keep Alive :</td>
                            <td>
                                <span title="Toggle VirtualHost keepalive=On option"><input type="checkbox" ng-model="$ctrl.map.keep_alive" ng-true-value="1" ng-false-value="0"></span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="description">
                                <span style="font-weight:bold;">*</span> This option should be enabled for old formssites and must
                                not be enabled for new forms sites.<br>(Create two separate mappings if necessary)
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="maincontentholder_savebutton" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="$ctrl.save($ctrl.map)">
                    <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span> Save
                </button>
                <button type="button" class="btn btn-default"  ng-click="$ctrl.close()">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
