<modal-proxy-edit ng-cloak map="vm.modalProxyEditMap" show="vm.modalProxyEditShow" save="vm.saveClick" title="vm.modalProxyEditTitle"></modal-proxy-edit>
<div ng-if="vm.offline" class="offline">
    <a ng-href="reverseproxy"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>
<div ng-if="!vm.offline">
    <div class="datagrid" >
        <div style="margin: 12px 0 15px 6px; padding: 0;">
            <span style="font-size: 15px;"><strong>*</strong>&nbsp;Used to maintain proxy endpoints. Any adjustments will be propagated to the master proxy server(s) within five minutes.</span>
            <br/>
        </div>
        <div class="filterbox">
            <form>
                <div class="input-container">
                    <label>Path:&nbsp;</label>
                    <input type="text" class="grow" ng-model="vm.filter.path">
                    <label>&nbsp;URL:&nbsp;</label>
                    <input type="text" class="grow" ng-model="vm.filter.url">
                    <label>&nbsp;Comment:&nbsp;</label>
                    <input type="text" class="grow" ng-model="vm.filter.comment">
                    <label>&nbsp;Chunked:&nbsp;</label>
                    <select ng-model="vm.filter.chunked" style="max-width:90px">
                        <option value="" selected>All</option>
                        <option value="1">Enabled</option>
                        <option value="0">Disabled</option>
                    </select>
                    <label>&nbsp;Keep Alive:&nbsp;</label>
                    <select ng-model="vm.filter.keep_alive" style="max-width:90px">
                        <option value="" selected>All</option>
                        <option value="1">Enabled</option>
                        <option value="0">Disabled</option>
                    </select>
                    <button class="btn btn-sm btn-primary" ng-click="vm.search()">
                        <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                    </button>
                </div>
            </form>
        </div>
        <div class="datagrid">
            <table class="table table-hover proxygrid tbl-layout logtable" cellspacing="0" cellpadding="2">
               <colgroup>
                    <col style="width:200px;" />
                    <col style="width:400px;" />
                    <col/>
                    <col style="width:110px;"/>
                    <col style="width:130px;" />
                    <col style="width:150px;" ng-if="root.hasWritePermission('Infrastructure', 'Proxy')"/>
                </colgroup>
                <tr>
                    <th>Path<sort-button property="path" order="vm.order"/></th>
                    <th>URL<sort-button property="url" order="vm.order"/></th>
                    <th>Comment<sort-button property="comment" order="vm.order"/></th>
                    <th align="center" title="Chunked Workaround">Chunked<sort-button property="http_downgrade" order="vm.order"/></th>
                    <th align="center">Keep Alive<sort-button property="keep_alive" order="vm.order"/></th>
                    <th ng-if="root.hasWritePermission('Infrastructure', 'Proxy')">&nbsp;</th>
                </tr>
                <tr ng-repeat="map in vm.mapping.rows | orderBy:vm.order.property:vm.order.reverse">
                    <td data-toggle="tooltip" style="overflow: hidden;" title="{{map.path}}">{{map.path}}</td>
                    <td data-toggle="tooltip" style="overflow: hidden;" title="{{map.url}}">{{map.url}}</td>
                    <td data-toggle="tooltip" style="overflow: hidden;" title="{{map.comment}}">{{map.comment}}</td>
                    <td align="center" title="Toggle VirtualHost downgrade-1.0 & force-proxy-request-1.0 options">
                        <input type="checkbox" disabled ng-checked="map.http_downgrade">
                    </td>
                    <td align="center" title="Toggle VirtualHost keep_alive=On option">
                        <input type="checkbox" disabled ng-checked="map.keep_alive">
                    </td>
                    <td align="center" ng-if="root.hasWritePermission('Infrastructure', 'Proxy')">
                        <button class="btn btn-sm btn-primary" ng-click="vm.editClick(map)">
                            <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
                        </button>
                        <button class="btn btn-sm btn-danger" ng-click="vm.deleteClick(map)">
                            <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>&nbsp;Delete
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="Addbutton" ng-if="root.hasWritePermission('Infrastructure', 'Proxy')">
            <button class="btn btn-sm btn-primary" ng-click="vm.addClick()">
                <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>&nbsp;Add
            </button>
        </div>
        <ul class='pagination'>
            <li ng-repeat="p in vm.pager" ng-class="{active:p.value==vm.pageNo}">
                <a ng-click="vm.page(p.value)">{{p.text}}</a>
            </li>
        </ul>
    </div>
</div>
