<div ng-if="vm.offline" class="offline">
    <a ng-href="collectionslog"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div class="datagrid">
        <form name="form">
            <div class="input-container">
                <label>From:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.fromDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>&nbsp;To:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.toDate" />
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>&nbsp;Host:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.hostname" />
                <label>&nbsp;Site:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.sitename"/>
                <label>&nbsp;Logger:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.logger" />
                <label>&nbsp;Message:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.message" />
                <button type="submit" class="btn btn-sm btn-primary connectorbutton" ng-disabled="form.$invalid"
                        ng-click="vm.search()">
                    <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                </button>

            </div>
        </form>
    </div>
    <table class="table logtable" style="table-layout: fixed" cellspacing="0" cellpadding="2">
        <colgroup>
            <col style="width:165px;" />
            <col style="width:200px;" />
            <col style="width:150px;" />
            <col style="width:300px;" />
            <col/>
        </colgroup>
        <tr>
            <th>Time&nbsp;<sort-button property="timestamp" order="vm.order" ng-click="vm.search()"/></th>
            <th>Host&nbsp;<sort-button property="hostname" order="vm.order" ng-click="vm.search()"/></th>
            <th>Site&nbsp;<sort-button property="sitename" order="vm.order" ng-click="vm.search()"/></th>
            <th>Logger&nbsp;<sort-button property="logger" order="vm.order" ng-click="vm.search()"/></th>
            <th>Message&nbsp;<sort-button property="message" order="vm.order" ng-click="vm.search()"/></th>
        </tr>
        <tr ng-repeat-start="log in vm.logs.rows">
            <td>{{log.timestamp | date:'yyyy/MM/dd HH:mm:ss'}}</td>
            <td title="{{log.hostname}}" style="overflow: hidden; white-space: nowrap">{{log.hostname}}</td>
            <td title="{{log.sitename}}" style="overflow: hidden; white-space: nowrap">{{log.sitename}}</td>
            <td title="{{log.logger}}" style="overflow: hidden; white-space: nowrap">{{log.logger}}</td>
            <td>
                <span>{{log.truncateMessage}}</span>
                <span ng-if="log.message.length>80">
                    <a href='' ng-click="vm.toggle(log)">{{log.toggleMessage}}</a>
                </span>
            </td>
        </tr>
        <tr class="more-message" ng-repeat-end ng-if="log.message.length>80" ng-show="log.showMessage">
            <td colspan="5">{{log.message}}</td>
        </tr>
    </table>
    <ul class='pagination'>
        <li ng-repeat="p in vm.pager" ng-class="{active:p.value==vm.pageNo}">
            <a ng-click="vm.page(p.value)">{{p.text}}</a>
        </li>
    </ul>
</div>