<div ng-if="vm.offline" class="offline">
    <a ng-href="apibroker"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div class="datagrid">
        <div style="margin: 12px 0 15px 0px; padding: 0;">
            <span style="font-size: 20px; font-weight:700;">Remap database</span>
            <br />
            <span style="font-size: 15px;"><strong>*</strong>&nbsp;This tool is used to update connection string tokens matching the database you specify. To adjust database token(s) input the database name to search for then pick the server you want to migrate to then pick the database host you want to modify. Click `process`, this will give you a summary and confirmation of the changes you have requested to confirm before applying them.</span>
        </div>
        <form name="form">
            <div class="input-container" style="border-top: 1px solid #ddd !important; padding-top: 5px;">
                <label>&nbsp;Database:&nbsp;</label>
                <input style="width: 100%" type="text" name="database" required ng-model="vm.broker.database" />
                <label>&nbsp;Server:&nbsp;</label>
                <select ng-model="vm.broker.server" ng-options="o as o for o in vm.server"
                        style="width: 100%; vertical-align: text-top;"></select>
                <label>&nbsp;Host:&nbsp;</label>
                <select ng-model="vm.db.host" ng-options="o as o for o in vm.host"
                        style="width: 100%; vertical-align: text-top;">
                </select>
                <button class="btn btn-sm btn-primary"
                        ng-click="vm.process(vm.broker.database, vm.broker.server, vm.db.host)"
                        ng-if="root.hasWritePermission('API Broker', 'Remap')">
                    <span aria-hidden="true" class="glyphicon glyphicon-ok"></span>&nbsp;Process
                </button>
            </div>
        </form>
    </div>
</div>
