<div class="modal" ng-show="$ctrl.show" style="display: block; background-color: rgba(0,0,0,0.5)" ng-click="$ctrl.close()">
    <div class="modal-dialog" style="top:120px !important; width: 700px !important;" onclick="event.stopPropagation()">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{$ctrl.header}}</h4>
            </div>
            <div class="modal-body" style="height: 400px">
                <form name="form">
                    <table class="table addgeneric">
                        <colgroup>
                            <col style="width: 210px;">
                            <col style="width: auto;">
                        </colgroup>
                        <tr>
                            <td><span class="error-message">*</span> Customer&nbsp;:</td>
                            <td><input type="text" name="name" required style="width:100%;" ng-model="$ctrl.customer.name"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description"><span style="font-weight:bold;">*</span> The name of the customer, this must be unique</td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;Alias&nbsp;:</td>
                            <td><input type="text" name="alias" style="width:100%;" ng-model="$ctrl.customer.alias"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description"><span style="font-weight:bold;">*</span> The alias of the customer</td>
                        </tr>
                        <tr>
                            <td><span class="error-message">*</span> DB Host&nbsp;:</td>
                            <td><input type="text" name="db_host" required style="width:100%;" ng-model="$ctrl.customer.db_host"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description">
                                <span ng-show="$ctrl.customer.method == 'clone'">* The host name of the server to clone from, this must be reachable from Solutions-Admin-API</span>
                                <span ng-show="$ctrl.customer.method !== 'clone'">* The host name of the server to migrate, this must be reachable from Solutions-Admin-API</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="error-message">*</span> DB Name&nbsp;:</td>
                            <td><input type="text" name="db_database" required style="width:100%;" ng-model="$ctrl.customer.db_database"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description">
                                <span ng-show="$ctrl.customer.method == 'clone'">* The name of the database to clone from</span>
                                <span ng-show="$ctrl.customer.method !== 'clone'">* The name of the database to migrate</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="error-message">*</span> DB Write User&nbsp;:</td>
                            <td><input type="text" name="db_user" required style="width:100%;" ng-model="$ctrl.customer.db_user"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description">
                                <span ng-show="$ctrl.customer.method == 'clone'">* The name of the user to clone with</span>
                                <span ng-show="$ctrl.customer.method !== 'clone'">* The name of the user to migrate with</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="error-message">*</span> DB Write Password&nbsp;:</td>
                            <td><input type="text" name="db_password" style="width:100%;" required ng-model="$ctrl.customer.db_password"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description">
                                <span ng-show="$ctrl.customer.method == 'clone'">* The name of the user to clone with</span>
                                <span ng-show="$ctrl.customer.method !== 'clone'">* The name of the user to migrate with</span>
                            </td>
                        </tr>
                        <tr ng-if="$ctrl.customer.method !== 'clone'">
                            <td><span class="error-message">*</span> DB Read User&nbsp;:</td>
                            <td><input type="text" name="db_user_read" required style="width:100%;" ng-model="$ctrl.customer.db_user_read"/></td>
                        </tr>
                        <tr ng-if="$ctrl.customer.method !== 'clone'">
                            <td colspan="2" class="description">
                                <span>* The name of the read user to be used by customers</span>
                            </td>
                        </tr>
                        <tr ng-if="$ctrl.customer.method !== 'clone'">
                            <td><span class="error-message">*</span> DB Read Password&nbsp;:</td>
                            <td><input type="text" name="db_password_read" style="width:100%;" ng-model="$ctrl.customer.db_password_read" /></td>
                        </tr>
                        <tr ng-if="$ctrl.customer.method !== 'clone'">
                            <td colspan="2" class="description">
                                <span>* The password of the read user to be used by customers</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="error-message">*</span>&nbsp;Method :&nbsp;</td>
                            <td><select name="method" ng-init="$ctrl.customer.method = 'clone'" ng-model="$ctrl.customer.method"  required style="width:100%;">
                                <option value="clone">Clone</option>
                                <option value="migrate_soft">Migrate Soft</option>
                                <option value="migrate_hard">Migrate Hard</option>
                            </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description">
                                <span ng-show="$ctrl.customer.method == 'clone'">* Clone specified database to a new database and enable customer</span>
                                <span ng-show="$ctrl.customer.method == 'migrate_soft'">* Setup master record but do not migrate specified database until enabled</span>
                                <span ng-show="$ctrl.customer.method == 'migrate_hard'">* Setup master record and migrate specified database immediately</span>
                            </td>
                            </span>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;Notes&nbsp;: </td>
                            <td><textarea style="width:100%; height:140px" ng-model="$ctrl.customer.notes"></textarea></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="maincontentholder_savebutton" class="btn btn-primary" ng-disabled="!$ctrl.button || form.$invalid" ng-click="$ctrl.save($ctrl.customer)">
                    <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>&nbsp;Save
                </button>
                <button type="button" class="btn btn-default" ng-click="$ctrl.close()" ng-disabled="!$ctrl.button">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
                </button>
            </div>
        </div>
    </div>
</div>
