<div class="modal" ng-show="$ctrl.show" style="display: block; background-color: rgba(0,0,0,0.5)" ng-click="$ctrl.close()">
    <div class="modal-dialog" style="top:170px !important; width: 600px !important;" onclick="event.stopPropagation()">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{$ctrl.header}}</h4>
            </div>
            <div class="modal-body" style="height: 290px">
                <form name="form">
                    <table class="table addgeneric">
                        <colgroup>
                            <col style="width: 115px;">
                            <col style="width: auto;">
                        </colgroup>
                        <tr>
                            <td><span class="error-message">*</span> Customer:</td>
                            <td><input type="text" name="name" required style="width:100%;" ng-model="$ctrl.customer.name"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description"><span style="font-weight:bold;">*</span> The name of the customer, this must be unique</td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;Alias:</td>
                            <td><input type="text" name="alias" style="width:100%;" ng-model="$ctrl.customer.alias"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description"><span style="font-weight:bold;">*</span> The alias of the customer</td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;Notes&nbsp;: </td>
                            <td><textarea style="width:100%; height:140px" ng-model="$ctrl.customer.notes"></textarea></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="maincontentholder_savebutton" class="btn btn-primary" ng-disabled="!$ctrl.button || form.$invalid" ng-click="$ctrl.save($ctrl.customer)">
                    <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>&nbsp;Save
                </button>
                <button type="button" class="btn btn-default" ng-click="$ctrl.close()" ng-disabled="!$ctrl.button">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
                </button>
            </div>
        </div>
    </div>
</div>
