<div ng-if="vm.offline" class="offline">
    <a ng-href="customer"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Solutions has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Solutions Admin API server is online on Monitoring</li>
            <li>Check Solutions Admin API server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Solutions Admin API server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
<modal-customers-edit ng-cloak domain="root.domain" customer="vm.modalCustomersEditNotes" button="vm.btnEnabled" show="vm.modalCustomersEditShow" save="vm.saveEditClick" header="vm.modalCustomersEditTitle"></modal-customers-edit>
<modal-customers-add ng-cloak customer="vm.modalCustomersAdd" button="vm.btnEnabled" show="vm.modalCustomersAddShow" save="vm.saveAddClick" header="vm.modalCustomersAddTitle"></modal-customers-add>
<modal-customers-add-new ng-cloak customer="vm.modalCustomersAddNew" button="vm.btnEnabled" show="vm.modalCustomersAddNewShow" save="vm.saveAddClick" header="vm.modalCustomersAddNewTitle"></modal-customers-add-new>
<modal-db-sync ng-cloak customer="vm.modalCustomer" button="vm.btnEnabled" show="vm.modalDbSyncShow" save="vm.saveSyncClick" header="vm.modalDbSyncTitle"></modal-db-sync>
<div class="datagrid">
    <div style="margin: 12px 0 15px 0; padding: 0;">
        <span style="font-size: 15px;"><strong>*&nbsp;</strong>Used to maintain master customer details for solutions.</span>
        <br/>
    </div>
    <form name="form">
        <div class="input-container">
            <label>Customer:&nbsp;</label>
            <input type="text" ng-model="vm.filter.name" style="width: 500px;">
            <label>Alias:&nbsp;</label>
            <input type="text" ng-model="vm.filter.alias" style="width: 500px;">
            <label title="">&nbsp;Enabled:&nbsp;</label>
            <select ng-model="vm.filter.enabled" style="width:100px;">
                <option value="" selected>All</option>
                <option value="1">Enabled</option>
                <option value="0">Disabled</option>
            </select>
            <button type="submit" class="btn btn-sm btn-primary connectorbutton" ng-click="vm.search()">
                <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
            </button>
        </div>
    </form>
</div>
<table class="table logtable tbl-layout" cellspacing="0" cellpadding="4">
    <tr>
        <th style="width: 220px">Customer&nbsp;<sort-button property="name" order="vm.order" ng-click="vm.search()"/></th>
        <th>Alias&nbsp;<sort-button property="alias" order="vm.order" ng-click="vm.search()"/></th>
        <th style="width: 92px;text-align:center">FTP Pass</th>
        <th style="width: 101px;text-align:center">HTTP Pass</th>
        <th style="width: 61px;text-align:center">Token</th>
        <th style="width: 63px;">Notes</th>
        <th style="width: 250px;">Tested</th>
        <th style="width: 285px;">Enabled&nbsp;<sort-button property="enabled" order="vm.order" ng-click="vm.search()"/></th>
    </tr>
    <tr ng-repeat-start="customer in vm.customers.rows">
        <td style="overflow: hidden" title="{{customer.name}}">{{customer.name}}</td>
        <td style="overflow: hidden" title="{{customer.alias}}">{{customer.alias}}</td>
        <td style="text-align: center"><a ng-show="customer.ftp_pass_raw && customer.ftp_pass_raw != '' && root.hasWritePermission('Solutions', 'Customer')" href="" data-toggle="popover" data-content={{customer.ftp_pass_raw}} data-trigger="click">Show</a></td>
        <td style="text-align: center"><a ng-show="customer.http_pass && customer.http_pass != '' && root.hasWritePermission('Solutions', 'Customer')" href="" data-toggle="popover" data-content={{customer.http_pass}} data-trigger="click">Show</a></td>
        <td style="text-align: center"><a ng-show="customer.token && customer.token != '' && root.hasWritePermission('Solutions', 'Customer')" href="" data-toggle="popover" data-content={{customer.token}} data-trigger="click">Show</a></td>
        <td><a ng-show="customer.notes && customer.notes != ''" href="" data-toggle="popover" data-content={{customer.notes}} data-trigger="click">Show</a></td>
        <td>{{customer.last_tested}}
            <span ng-show="customer.last_tested_response == 'Success'">Success</span>
            <a ng-show="customer.last_tested_response !== 'Success'" href="" data-toggle="popover" data-content={{customer.last_tested_response}} data-trigger="click">Error</a>
        </td>
        <td>
            <button style="" ng-if="root.hasWritePermission('Solutions', 'Customer')" class="btn btn-sm btn-warning" ng-click="vm.connection(customer)" title="Test Connection">
                <span class="glyphicon glyphicon-flash"></span>
            </button>
            <button class="btn btn-sm btn-info" ng-click="vm.syncClick(customer)" ng-if="root.hasWritePermission('Solutions', 'Customer')" title="Re-sync Database">
                <span aria-hidden="true" class="glyphicon glyphicon-refresh"></span>
            </button>
            <button style="width: 55px!important;" ng-disabled="!root.hasWritePermission('Solutions', 'Customer')" ng-show="customer.enabled" class="btn btn-sm btn-success" ng-click="vm.change_enable_status(customer)">On</button>
            <button style="width: 55px!important;" ng-disabled="!root.hasWritePermission('Solutions', 'Customer')" ng-show="!customer.enabled" class="btn btn-sm btn-warning" ng-click="vm.change_enable_status(customer)">Off</button>
            <button class="btn btn-sm btn-primary" ng-click="vm.editClick(customer, 'edit')" ng-if="root.hasWritePermission('Solutions', 'Customer')">
                <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
            </button>
            <button class="btn btn-sm btn-danger" ng-click="vm.deleteClick(customer)" ng-if="root.hasWritePermission('Solutions', 'Customer')">
                <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>&nbsp;Delete
            </button>
            <button class="btn btn-sm btn-primary" ng-click="vm.editClick(customer, 'view') " ng-if="!root.hasWritePermission('Solutions', 'Customer')">
                <span aria-hidden="true" class="glyphicon glyphicon-search"></span>&nbsp;View
            </button>
        </td>
    </tr>
    <tr class="more-message" ng-repeat-end ng-show="customer.showMessage">
        <td colspan="10">{{customer.notes}}</td>
    </tr>
</table>
<div class="Addbutton" ng-if="root.hasWritePermission('Solutions', 'Customer')">
    <button class="btn btn-sm btn-primary" ng-click="vm.addNewClick()" id="btn-add-new">
        <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>&nbsp;Add New
    </button>
    <button class="btn btn-sm btn-primary" ng-click="vm.addExistingClick()" id="btn-add-existing">
        <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>&nbsp;Add Existing
    </button>
</div>
<ul class='pagination'>
    <li ng-repeat="p in vm.pager" ng-class="{active:p.value==vm.pageNo}">
        <a ng-click="vm.page(p.value)">{{p.text}}</a>
    </li>
</ul>
</div>
