<div class="modal" ng-show="$ctrl.show" style="display: block; background-color: rgba(0,0,0,0.5)" ng-click="$ctrl.close()">
    <div class="modal-dialog" style="top:120px !important; width: 700px !important;" onclick="event.stopPropagation()">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{$ctrl.header}}</h4>
            </div>
            <div class="modal-body" style="height: 400px">
                <form name="form">
                    <table class="table addgeneric">
                        <colgroup>
                            <col style="width: 210px;">
                            <col style="width: auto;">
                        </colgroup>
                        <tr>
                            <td><span class="error-message">*</span> Customer&nbsp;:</td>
                            <td><input type="text" name="name" required style="width:100%;" ng-model="$ctrl.customer.name" ng-readonly="$ctrl.header=='View'"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description"><span style="font-weight:bold;">*</span> The name of the customer, this must be unique</td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;Alias&nbsp;:</td>
                            <td><input type="text" name="alias" style="width:100%;" ng-model="$ctrl.customer.alias" ng-readonly="$ctrl.header=='View'"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description"><span style="font-weight:bold;">*</span> The alias of the customer</td>
                        </tr>
                        <tr>
                            <td><span class="error-message">*</span> FTP Password&nbsp;:</td>
                            <td><input type="text" name="ftp_pass_raw" style="width:100%;" ng-model="$ctrl.customer.ftp_pass_raw" ng-readonly="$ctrl.header=='View'"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description">
                                <span style="font-weight:bold;">*</span> The customer's password for logging into ftp.{{$ctrl.domain}}
                            </td>
                        </tr>
                        <tr>
                            <td><span class="error-message">*</span> HTTP Password&nbsp;:</td>
                            <td><input type="text" name="http_pass" required style="width:100%;" ng-model="$ctrl.customer.http_pass" ng-readonly="$ctrl.header=='View'"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description">
                                <span style="font-weight:bold;">*</span> The customer's password for logging into {{$ctrl.customer.name}}.solutions.{{$ctrl.domain}}
                            </td>
                        </tr>
                        <tr>
                            <td><span class="error-message">*</span> DB Host&nbsp;:</td>
                            <td><input type="text" name="db_host" required style="width:100%;" ng-model="$ctrl.customer.db_host" ng-readonly="$ctrl.header=='View'"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description">
                                <span>* The host name of the server to use, this must be reachable from Solutions-Admin-API</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="error-message">*</span> DB Name&nbsp;:</td>
                            <td><input type="text" name="db_database" required style="width:100%;" ng-model="$ctrl.customer.db_database" ng-readonly="$ctrl.header=='View'"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description">
                                <span>* The name of the database to connect to</span>
                            </td>
                        <tr>
                            <td><span class="error-message">*</span> DB Write User&nbsp;:</td>
                            <td><input type="text" name="db_user" required style="width:100%;" ng-model="$ctrl.customer.db_user" ng-readonly="$ctrl.header=='View'"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description">
                                <span>* The name of the user with write permission</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="error-message">*</span> DB Write Password&nbsp;:</td>
                            <td><input type="text" style="width:100%;" ng-model="$ctrl.customer.db_password" ng-readonly="$ctrl.header=='View'"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description">
                                <span>* The password of the write user</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="error-message">*</span> DB Read User&nbsp;:</td>
                            <td><input type="text" name="db_user_read" required style="width:100%;" ng-model="$ctrl.customer.db_user_read" ng-readonly="$ctrl.header=='View'"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description">
                                <span>* The name of the user with read permission to be used by the customer</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="error-message">*</span> DB Read Password&nbsp;:</td>
                            <td><input type="text" name="db_password_read" required style="width:100%;" ng-model="$ctrl.customer.db_password_read" ng-readonly="$ctrl.header=='View'"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description">
                                <span>* The password of the read user to be used by customer</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="error-message">*</span> Home Folder&nbsp;:</td>
                            <td><input type="text" name="db_host" required style="width:100%;" ng-model="$ctrl.customer.home_folder" ng-readonly="$ctrl.header=='View'"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description">
                                <span style="font-weight:bold;">*</span> The logical location of customer's data on the ftp.{{$ctrl.domain}} disk, this can be changed to share another records' folder if you want them to be shared
                            </td>
                        </tr>
                        <tr>
                            <td><span class="error-message">*</span> Enabled&nbsp;:</td>
                            <td><span><input type="checkbox" ng-model="$ctrl.customer.enabled" ng-true-value="1" ng-false-value="0" ng-disabled="$ctrl.header=='View'"></span></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description">
                                <span style="font-weight:bold;">*</span> Whether or not the FTP & HTTP API is enabled for this customer
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;Master&nbsp;:</td>
                            <td><select style="width:100%;" ng-model="$ctrl.customer.master" ng-options="m as m.name for m in $ctrl.customer.master_pool track by m.id" ng-disabled="$ctrl.header=='View'"><option value="0" selected></option></select></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description"><span style="font-weight:bold;">*</span> The specified master will copy its successfully processed data to this record's directory. The likely use-case for this is when a live customer would like the same data available in staging/test environment(s)</td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;Features&nbsp;:</td>
                            <td>
                                <span style="display: inline-block; width: calc(50% - 3px)">Available</span>
                                <span style="display: inline-block; width: calc(50% - 3px)">Enabled</span>
                                <select size="3" style="width: calc(50% - 3px)" ng-model="$ctrl.customer.selectedAvailableFeature" ng-disabled="$ctrl.header=='View'" ng-options="a as a.name for a in $ctrl.customer.available_features track by a.id" ></select>
                                <select size="3" style="width: calc(50% - 3px)" ng-model="$ctrl.customer.selectedEnabledFeature" ng-disabled="$ctrl.header=='View'" ng-options="e as e.name for e in $ctrl.customer.enabled_features track by e.id"></select>
                                <button class="btn btn-sm" style="width: calc(50% - 3px)" ng-click="$ctrl.addFeatureClick()" ng-disabled="$ctrl.header=='View'">Add&nbsp;<span class="glyphicon glyphicon-forward"></span></button>
                                <button class="btn btn-sm" style="width: calc(50% - 3px)" ng-click="$ctrl.removeFeatureClick()" ng-disabled="$ctrl.header=='View'"><span class="glyphicon glyphicon-backward"></span>&nbsp;Remove</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description">
                                <span>* Activate or disable watchdog features</span>
                                <ul>
                                    <li ng-repeat="feature in $ctrl.customer.available_features track by feature.id">{{feature.name}}: {{feature.description}}</li>
                                    <li ng-repeat="feature in $ctrl.customer.enabled_features track by feature.id">{{feature.name}}: {{feature.description}}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;Notes&nbsp;: </td>
                            <td><textarea placeholder="notes" style="width:100%; height:140px" ng-model="$ctrl.customer.notes" ng-readonly="$ctrl.header=='View'"></textarea></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-hide="$ctrl.header=='View'" ng-disabled="form.$invalid || !$ctrl.button" ng-click="$ctrl.save($ctrl.customer)">
                    <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>&nbsp;Save</button>
                <button type="button" class="btn btn-default" ng-hide="$ctrl.header=='View'" ng-click="$ctrl.close()" ng-disabled="!$ctrl.button">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>