<div ng-if="vm.offline" class="offline">
    <a ng-href="ftplog"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span
            style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Solutions has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Solutions Admin API server is online on Monitoring</li>
            <li>Check Solutions Admin API server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Solutions Admin API server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>
<div ng-if="!vm.offline">
    <div class="datagrid">
        <form>
            <div class="input-container">
                <label>Customer:&nbsp;</label>
                <select ng-model="vm.filter.customer" ng-options="o for o in vm.customer track by o"
                        style="width:170px;"></select>
                <label>&nbsp;From:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.fromDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>&nbsp;To:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.toDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>&nbsp;File:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.file_name"/>
                <label>&nbsp;Response:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.response"/>
                <button type="submit" class="btn btn-sm btn-primary connectorbutton" ng-click="vm.search()">
                    <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                </button>
            </div>
        </form>
    </div>
    <table class="table logtable" style="table-layout: fixed" cellspacing="0" cellpadding="4">
        <colgroup>
            <col style="width:260px;"/>
            <col style="width:175px;"/>
            <col style="width:175px;"/>
            <col style="width:260px;"/>
            <col/>
        </colgroup>
        <tr>
            <th>Customer&nbsp;<sort-button property="ftp_user" order="vm.order" ng-click="vm.search()"/>
            </th>
            <th>Start Time&nbsp;<sort-button property="start_time" order="vm.order" ng-click="vm.search()"/>
            </th>
            <th>End Time&nbsp;<sort-button property="end_time" order="vm.order" ng-click="vm.search()"/>
            </th>
            <th>Filename&nbsp;<sort-button property="file_name" order="vm.order" ng-click="vm.search()"/>
            </th>
            <th>Response&nbsp;<sort-button property="response" order="vm.order" ng-click="vm.search()"/>
            </th>
        </tr>
        <tr ng-repeat-start="log in vm.logs.rows">
            <td style="overflow: hidden; white-space:nowrap;" title="{{log.ftp_user}}">{{log.ftp_user}}</td>
            <td>{{log.start_time | date:'yyyy/MM/dd HH:mm:ss'}}</td>
            <td>{{log.end_time | date:'yyyy/MM/dd HH:mm:ss'}}</td>
            <td style="overflow: hidden; white-space:nowrap;" title="{{log.file_name}}">{{log.file_name}}</td>
            <td>
                <span>{{log.truncateMessage}}</span>
                <span ng-if="log.response.length>80">
                <a href='' ng-click="vm.toggle(log)">{{log.toggleMessage}}</a>
                </span>
            </td>
        </tr>
        <tr class="more-message" ng-repeat-end ng-if="log.response.length>80" ng-show="log.showMessage">
            <td colspan="5">{{log.response}}</td>
        </tr>
    </table>
    <ul class='pagination'>
        <li ng-repeat="p in vm.pager" ng-class="{active:p.value==vm.pageNo}">
            <a ng-click="vm.page(p.value)">{{p.text}}</a>
        </li>
    </ul>
</div>