<div ng-if="vm.offline" class="offline">
    <a ng-href="integrationlog"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div class="datagrid">
        <form>
            <div class="input-container">
                <label>From:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.fromDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>&nbsp;To:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.toDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>Source:&nbsp;</label>
                <select ng-model="vm.filter.log" ng-options="o as o for o in vm.loggers" style="width:190px;min-width:170px;"></select>
                <label>Customer:&nbsp;</label>
                <select ng-model="vm.filter.customer" ng-options="o as o for o in vm.customers" style="width:190px;min-width:170px;"></select>
                <label>&nbsp;Level:&nbsp;</label>
                <select ng-model="vm.filter.level" style="width:75px">
                    <option value="" selected>All</option>
                    <option value="DEBUG">Debug</option>
                    <option value="WARN">Warn</option>
                    <option value="ERROR">Error</option>
                </select>
                <label>&nbsp;Message:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.message"/>
                <button type="submit" class="btn btn-sm btn-primary connectorbutton" ng-click="vm.search()">
                    <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                </button>
            </div>
        </form>
    </div>
    <table class="table logtable" cellspacing="0" cellpadding="4">
        <tr>
            <th style="width:165px;">Date&nbsp;<sort-button property="date" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width:175px;">Source&nbsp;<sort-button property="logger" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width:175px;">Customer&nbsp;<sort-button property="customer" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width:175px;">Reference&nbsp;<sort-button property="reference" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width:430px;">Message&nbsp;<sort-button property="message" order="vm.order" ng-click="vm.search()"/></th>
            <th>Exception&nbsp;<sort-button property="exception" order="vm.order" ng-click="vm.search()"/></th>
        </tr>
        <tr ng-repeat-start="log in vm.logs.rows" ng-class="log.level">
            <td>{{log.date | date:'yyyy/MM/dd HH:mm:ss'}}</td>
            <td style="overflow: hidden; white-space:nowrap;">{{log.logger}}</td>
            <td style="overflow: hidden; white-space:nowrap;">{{log.customer}}</td>
            <td style="overflow: hidden; white-space:nowrap;">{{log.reference}}</td>
            <td>
                <span>{{log.truncateMessage}}</span>
                <span ng-if="log.message.length>40">
                    <a href='' ng-click="vm.toggle(log)">{{log.toggleMessage}}</a>
                </span>
            </td>
            <td>
                <span>{{log.truncateException}}</span>
                <span ng-if="log.exception.length>35">
                    <a href='' ng-click="vm.toggle(log,1)">{{log.toggleException}}</a>
                </span>
            </td>
        </tr>
        <tr class="more-message" ng-if="log.message.length>40" ng-show="log.showMessage">
            <td colspan="6">{{log.message}}</td>
        </tr>
        <tr class="more-message" ng-repeat-end ng-if="log.exception.length>35" ng-show="log.showException">
            <td colspan="6">{{log.exception}}</td>
        </tr>
    </table>
    <ul class='pagination'>
        <li ng-repeat="p in vm.pager" ng-class="{active:p.value==vm.pageNo}">
            <a ng-click="vm.page(p.value)">{{p.text}}</a>
        </li>
    </ul>
</div>