<div ng-if="vm.offline" class="offline">
    <a ng-href="backgroundlog"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div class="datagrid">
        <form>
            <div class="input-container">
                <label>From:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.fromDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>&nbsp;To:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.toDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>&nbsp;Customer:&nbsp;</label>
                <select ng-model="vm.filter.site" ng-options="o as o for o in vm.site" style="width:160px;"></select>
                <label>&nbsp;Server:&nbsp;</label>
                <select ng-model="vm.filter.server" ng-options="o as o for o in vm.server" style="width:160px;"></select>
                <label>&nbsp;Operation:&nbsp;</label>
                <select ng-model="vm.filter.operation" ng-options="o as o for o in vm.operation" style="width:160px;"></select>
                <button type="submit" class="btn btn-sm btn-primary connectorbutton" ng-click="vm.search()">
                    <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                </button>
            </div>
        </form>
    </div>
    <table class="table logtable" cellspacing="0" cellpadding="4">
        <tr>
            <th style="width:220px;">Date&nbsp;<sort-button property="timestamp" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width:220px;">Customer&nbsp;<sort-button property="site" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width:220px;">Server&nbsp;<sort-button property="server_id" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width:220px;">Operation&nbsp;<sort-button property="operation" order="vm.order" ng-click="vm.search()"/></th>
        </tr>
        <tr ng-repeat="log in vm.logs.rows">
            <td>{{log.timestamp | date:'yyyy/MM/dd HH:mm:ss'}}</td>
            <td>{{log.site}}</td>
            <td>{{log.server_id}}</td>
            <td>{{log.operation}}</td>
        </tr>
    </table>
    <ul class='pagination'>
        <li ng-repeat="p in vm.pager" ng-class="{active:p.value==vm.pageNo}">
            <a ng-click="vm.page(p.value)">{{p.text}}</a>
        </li>
    </ul>
</div>