<div ng-if="vm.offline" class="offline">
    <a ng-href="statistics"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div class="datagrid">
        <form>
            <div class="input-container">
                <label>Period:&nbsp;</label>
                <select ng-model="vm.filter.period" ng-change="vm.refresh()">
                    <option value="all">all</option>
                    <option value="year">year</option>
                    <option value="month">month</option>
                    <option value="week">week</option>
                </select>
                <label style="margin-left: 20px;" ng-show="vm.filter.period != 'all'">Date in Period:&nbsp;</label>
                <select ng-model="vm.filter.year" ng-options="year for year in vm.year" ng-change="vm.getMonth()" ng-show="vm.yearOption"></select>
                <select ng-model="vm.filter.month" ng-options="month for month in vm.month" ng-change="vm.getDay()" ng-show="vm.monthOption"></select>
                <select ng-model="vm.filter.day" ng-options="day for day in vm.day" ng-show="vm.dayOption"></select>
                <select ng-model="vm.display" ng-show="vm.statistics.hosts.length" style="width: 200px;">
                    <option>Summary</option>
                    <option>All</option>
                    <option ng-repeat="host in vm.statistics.hosts">{{host.name}}</option>
                </select>
                <button type="button" class="btn btn-sm btn-primary connectorbutton" style="margin: 0 20px;" ng-click="vm.search()">
                    <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                </button>
            </div>
        </form>
    </div>
    <div class="section" ng-if="vm.statistics" ng-show="vm.display=='Summary'||vm.display=='All'">
        <span class="h2 underline">Summary</span>
        <div class="section-container">
            <table class="table logtable">
                <tr>
                    <th style="width: 28%">Host&nbsp;<sort-button property="name" order="vm.order"/></th>
                    <th style="width: 12%">CSA&nbsp;<sort-button property="CSA" order="vm.order"/></th>
                    <th style="width: 12%">Internal&nbsp;<sort-button property="Int" order="vm.order"/></th>
                    <th style="width: 12%">External&nbsp;<sort-button property="Ext" order="vm.order"/></th>
                    <th style="width: 12%">Anon&nbsp;<sort-button property="Anon" order="vm.order"/></th>
                    <th style="width: 12%">Unknown&nbsp;<sort-button property="Unknown" order="vm.order"/></th>
                    <th style="width: 12%">Total&nbsp;<sort-button property="Total" order="vm.order"/></th>
                </tr>
                <tr ng-if="vm.statistics.hosts.length==0">
                    <td colspan="7">No results found for selected period</td>
                </tr>
                <tr ng-repeat="host in vm.statistics.hosts | orderBy:vm.order.property:vm.order.reverse">
                    <td>{{host.name}}</td>
                    <td>{{host.CSA}}</td>
                    <td>{{host.Int}}</td>
                    <td>{{host.Ext}}</td>
                    <td>{{host.Anon}}</td>
                    <td>{{host.Unknown}}</td>
                    <td>{{host.Total}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="section-host" ng-repeat="host in vm.statistics.hosts" ng-show="vm.display==host.name||vm.display=='All'">
        <span class="h3">{{host.name}}</span>
        <table class="table logtable">
            <tr>
                <th style="width: 28%">Form&nbsp;<sort-button property="name" order="vm.order"/></th>
                <th style="width: 12%">CSA&nbsp;<sort-button property="CSA" order="vm.order"/></th>
                <th style="width: 12%">Internal&nbsp;<sort-button property="Int" order="vm.order"/></th>
                <th style="width: 12%">External&nbsp;<sort-button property="Ext" order="vm.order"/></th>
                <th style="width: 12%">Anon&nbsp;<sort-button property="Anon" order="vm.order"/></th>
                <th style="width: 12%">Unknown&nbsp;<sort-button property="Unknown" order="vm.order"/></th>
                <th style="width: 12%">Total&nbsp;<sort-button property="Total" order="vm.order"/></th>
            </tr>
            <tr ng-repeat="form in host.forms | orderBy:vm.order.property:vm.order.reverse">
                <td>{{form.name}}</td>
                <td>{{form.CSA}}</td>
                <td>{{form.Int}}</td>
                <td>{{form.Ext}}</td>
                <td>{{form.Anon}}</td>
                <td>{{form.Unknown}}</td>
                <td>{{form.Total}}</td>
            </tr>
        </table>
    </div>
</div>