<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Downloads</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/main.css"/>
</head>
<body ng-controller="AppCtrl as vm">
    <header>
        <div class="header-div">
            <div class="header-left">
                <span class="glyphicon glyphicon-refresh right-spinner" ng-class="{transparent: !vm.loading}"></span>
                <img class="logo" src="style/firmstep-logo.png" alt="Firmstep"/>
                <span>&nbsp;Downloads</span>
            </div>
        </div>
    </header>
    <div class="main-content">
        <table class="table dld-tbl">
            <tr>
                <th>Component</th>
                <th>Version</th>
                <th>Build Date</th>
            </tr>
            <tr class="ng-cloak" ng-repeat="(component,detail) in vm.components">
                <td>{{component}}</td>
                <td>
                    <select ng-model="detail.tag" ng-options="v.version for v in detail.versions track by v.version" style="min-width: 80px"></select>
                </td>
                <td>{{detail.tag.releaseDate}}</td>
                <td>
                    <a class="btn" target="_blank" ng-href="{{detail.releaseNotesUrl}}">Release Notes <i class="glyphicon glyphicon-new-window"></i></a>
                </td>
                <td>
                    <a class="btn" ng-href="api/download/{{component}}?version={{detail.tag.version}}">Download <i class="glyphicon glyphicon-save"></i></a>
                </td>
            </tr>
        </table>
    </div>
    <footer>
        <div class="footer-right ng-cloak">Copyright &copy; {{vm.year}} Firmstep</div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>