/* RESET - resets all elements to base value (used for cross-browser compatibility)
--------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* GRID STRUCTURE
--------------------------------------------------------------------------------*/

/* =Containers
--------------------------------------------------------------------------------*/

.container_12 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}
/* =Grid >> Global
--------------------------------------------------------------------------------*/

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.container_12 .grid_3 {
	width: 220px;
}
.container_12 .grid_6 {
	width: 460px;
}
.container_12 .grid_9 {
	width: 700px;
}
.container_12 .grid_12 {
	width: 940px;
}
/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}
.omega {
	margin-right: 0;
}
/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/

.container_12 .grid_1 {
	width: 60px;
}
.container_12 .grid_2 {
	width: 140px;
}
.container_12 .grid_4 {
	width: 300px;
}
.container_12 .grid_5 {
	width: 380px;
}
.container_12 .grid_7 {
	width: 540px;
}
.container_12 .grid_8 {
	width: 620px;
}
.container_12 .grid_10 {
	width: 780px;
}
.container_12 .grid_11 {
	width: 860px;
}
/* =Prefix Extra Space >> Global
--------------------------------------------------------------------------------*/

.container_12 .prefix_3 {
	padding-left: 240px;
}
.container_12 .prefix_6 {
	padding-left: 480px;
}
.container_12 .prefix_9 {
	padding-left: 720px;
}
/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/

.container_12 .prefix_1 {
	padding-left: 80px;
}
.container_12 .prefix_2 {
	padding-left: 160px;
}
.container_12 .prefix_4 {
	padding-left: 320px;
}
.container_12 .prefix_5 {
	padding-left: 400px;
}
.container_12 .prefix_7 {
	padding-left: 560px;
}
.container_12 .prefix_8 {
	padding-left: 640px;
}
.container_12 .prefix_10 {
	padding-left: 800px;
}
.container_12 .prefix_11 {
	padding-left: 880px;
}
/* =Suffix Extra Space >> Global
--------------------------------------------------------------------------------*/

.container_12 .suffix_3 {
	padding-right: 240px;
}
.container_12 .suffix_6 {
	padding-right: 480px;
}
.container_12 .suffix_9 {
	padding-right: 720px;
}
/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/

.container_12 .suffix_1 {
	padding-right: 80px;
}
.container_12 .suffix_2 {
	padding-right: 160px;
}
.container_12 .suffix_4 {
	padding-right: 320px;
}
.container_12 .suffix_5 {
	padding-right: 400px;
}
.container_12 .suffix_7 {
	padding-right: 560px;
}
.container_12 .suffix_8 {
	padding-right: 640px;
}
.container_12 .suffix_10 {
	padding-right: 800px;
}
.container_12 .suffix_11 {
	padding-right: 880px;
}
/* =Clear Floated Elements
--------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
html body * span.clear, html body * div.clear, html body * li.clear, html body * dd.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
/* http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* STYLE 
--------------------------------------------------------------------------------*/
body {
	font: 62.5%/1.5 Arial, Helvetica, sans-serif; /*"Lucida Grande", Verdana, Arial, Helvetica, sans-serif;*/
	color: #454545;
	background: #FFF;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:focus {
	outline: 1px dotted invert;
}
hr {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0 0;
	clear: both;
	height: 0;
}
address {
	font-style: normal;
	margin: 0;
}
p, li, label, input, textarea, address, blockquote {
	font-size: 1.2em;
}
li h5, li p {
	font-size: 0.92em;
	padding: 0!important;
}
/* =Headings
--------------------------------------------------------------------------------*/
h1 {
	font-size: 3.6em;
	font-family: Arial, Helvetica, sans-serif; /*Georgia, "Times New Roman", Times, serif;*/
	line-height: 100%;
	color: #324DA1;
	font-weight: normal;
}
h2, h3 {
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif; /*Georgia, "Times New Roman", Times, serif;*/
	line-height: 100%;
	color: #454545;
	font-weight: normal;
	margin-top: 10px;
}
h4 {
	font-size: 1.4em;
	line-height: 100%;
	color: #454545;
	font-weight: bold;
	text-transform: uppercase;
}
h5 {
	font-size: 1.1em;
	line-height: 100%;
}
h6 {
	font-size: 15px;
}
/* =Spacing
--------------------------------------------------------------------------------*/
ol, ul {
	list-style: none;
}
li {
	margin-left: 0;
}
dl, hr, h1, h4, pre, table, address, fieldset {
	margin-bottom: 20px;
}
ol, ul, h2, h3 {
	margin-bottom: 10px;
}
p, blockquote {
	margin-bottom: 15px;
}
blockquote {
	font-style: italic;
}
/* =Specific styling
--------------------------------------------------------------------------------*/
#header {
	border-bottom: 1px solid #E9E9E9;
	margin-bottom: 20px;
}
#header #logo {
	float: left;
}
#header #logo img {
	margin: 10px 0 15px 10px;
}
#header ul {
	text-align: right;
	margin-right: 10px;
	margin-top: 25px;
	float: right;
}
#header li {
	display: inline;
	margin-left: 30px;
}
#header li a {
	color: #454545;
}
#header li.current a {
	font-weight: bold;
}
#main_content a, #side_column a {
	color: #BF7514;
}
#main_content img#feature {
	border: 1px solid #E9E9E9;
	margin-left: 20px;
	margin-bottom: 20px;
	float: right;
}
#main_content img#partner {
	margin: 25px 20px 0 20px;
}
#footer, #footer a {
	border-top: 1px solid #E9E9E9;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 20px;
	color: #CCC;
}
p.subscribe, p.date {
	font-size: 1.1em;
}
#main_content h1, #main_content h2, #main_content h3, #main_content p, #main_content form, #main_content address, #side_column h3, #side_column h5, #side_column p, #main_content blockquote, #side_column ol {
	padding: 0 10px;
}
#side_column h5 a {
	color: #BF7514;
}
.signup {
	text-align: center;
	padding-top: 20px;
}
.signup h4, .signup p {
	margin-bottom: 10px;
}
.signup .signup_link a {
	text-transform: uppercase;
	color: #14BF3E!important;
	font-size: 1.8em;
	font-weight: bold;
}
.icon img {
	display: block;
	margin: 0 auto;
}
/* =Icon elements
--------------------------------------------------------------------------------*/
.subscribe a {
	background: url(../img/rss_icon.gif) left center no-repeat;
	padding-left: 19px;
	font-weight: bold;
	color: #454545!important;
}
.factsheet, .contact_us, .sign_up_demo {
	margin: 0 10px;
}
.factsheet a {
	background: url(../img/factsheet.gif) 4px 2px no-repeat;
	padding: 3px 0 3px 28px;
	display: block;
	margin: 5px 0;
	color: #454545;
}
.contact_us a {
	background: url(../img/contact_us.gif) 0 4px no-repeat;
	padding: 3px 0 3px 28px;
	display: block;
	margin: 5px 0;
	color: #454545;
}
.sign_up_demo a {
	background: url(../img/sign_up_demo.gif) 4px 2px no-repeat;
	padding: 3px 0 3px 28px;
	display: block;
	margin: 5px 0;
	color: #454545;
}
/* =Box elements
--------------------------------------------------------------------------------*/
.box {
	margin-bottom: 20px;
}
.bordered_box {
	border: 1px solid #E9E9E9;
	margin-bottom: 20px;
}
.bordered_box .grid_2 {
	width: 139px!important;
	text-align: center;
}
.blog_600_days_box {
	background: url(../img/blog_600_days_bg.gif) top left no-repeat #771500;
	border: 1px solid #550F00;
	width: 298px!important;
	color: #FFF;
	margin-bottom: 20px;
}
.blog_600_days_box h3 {
	color: #E8E5CC;
	margin-bottom: 10px;
}
.blog_600_days_box li {
	margin: 0 10px;
}
.blog_600_days_box li a {
	padding-left: 17px;
	background: url(../img/gold_star.gif) 0 3px no-repeat;
	display: block;
}
.blog_600_days_box a {
	color: #FFF!important;
}
.white_papers_box {
	padding-top: 10px;
	margin-bottom: 20px;
	border-left: 1px solid #E9E9E9;
	border-bottom: 1px solid #E9E9E9;
	background: url(../img/white_papers.gif) top right no-repeat #FFF;
}
.green_box {
	background: #ECFDF0;
	border: 1px solid #B7F9C9;
	width: 298px!important;
	height: 205px;
}
.green_box h3 {
	height: 35px;
}
.green_box li {
	margin: 0 10px;
	padding-left: 17px;
	background: url(../img/tick.gif) 0 3px no-repeat;
}
.grey_box {
	border: 1px solid #E9E9E9;
	background: #F9F9F9;
}
.grey_box .grid_5, .white_box .grid_5 {
	width: 378px!important;
}
.grey_box .grid_3, .white_box .grid_3 {
	width: 200px!important;
	padding: 15px 10px;
}
.grey_box li, .white_box li {
	margin: 0 10px;
	padding-left: 9px;
	background: url(../img/orange_bullet.gif) 0 7px no-repeat;
}
/* =Form elements
--------------------------------------------------------------------------------*/

.form_row, .form_row_auto {
	clear: left;
	margin: 10px 0;
}
.form_row p {
	padding: 0!important;
}
.form_row label {
	display: block;
	float: left;
	width: 95px;
	padding-top: 2px;
}
.form_row_auto label {
	margin-right: 10px;
}
.form_row input.text {
	width: 200px;
	border: 1px solid #E2E2E2;
	background: url(../img/form_element_bg.gif) bottom left repeat-x;
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif; /*"Lucida Grande", Verdana, Arial, Helvetica, sans-serif;*/
}
.form_row input.narrow_text {
	width: 150px;
	border: 1px solid #E2E2E2;
	background: url(../img/form_element_bg.gif) bottom left repeat-x;
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif; /*"Lucida Grande", Verdana, Arial, Helvetica, sans-serif;*/
}
.form_row input.text:focus, .form_row input.short_text:focus, .form_row textarea:focus, .form_row_auto textarea:focus {
	border: 1px solid #F26532;
}
.form_row textarea, .form_row_auto textarea {
	width: 400px;
	height: 150px;
	border: 1px solid #E2E2E2;
	background: url(../img/form_element_bg.gif) bottom left repeat-x;
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif; /*"Lucida Grande", Verdana, Arial, Helvetica, sans-serif;*/
	vertical-align: top;
}
.form_buttons {
	margin: 10px 0 20px 0;
}
.form_buttons input {
	margin-left: 95px;
	border: 1px solid #E2E2E2;
	background: url(../img/form_button_bg.gif) bottom left repeat-x;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif; /*"Lucida Grande", Verdana, Arial, Helvetica, sans-serif;*/
	color: #F26532;
	font-weight: bold;
}

.genericsubmit {
	margin-left: 95px;
	border: 1px solid #E2E2E2;
	background: url(../img/form_button_bg.gif) bottom left repeat-x;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif; /*"Lucida Grande", Verdana, Arial, Helvetica, sans-serif;*/
	color: #F26532;
	font-weight: bold;
}
.eformstext {display: none}
.fieldtr { padding-bottom: 5px; }
.fieldlabel { padding-right: 10px; }
.mandatorysymbol { color: red;}
.generictextinput { 	border: 1px solid #E2E2E2;
	background: url(../img/form_element_bg.gif) bottom left repeat-x;
}
.generictextinput:focus {
	border: 1px solid #F26532 !important;
}
.warning {color: red}

/* specified for index.html */
.fake_lable{
	font-size:100%;
}
.hidden{
	display:none;
}
.shown{
	display:inline-block;
}
#mask{
	position: fixed;
	top: 0px;
	left:0px;
	width: 100%;
	height: 100%;
	background: url('../img/loading.gif') center no-repeat #000000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	z-index:99;
	display:none;
}