<div ng-if="vm.offline" class="offline">
    <a ng-href="cronlog"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div class="datagrid">
        <div style="margin: 12px 0 15px 1px; padding: 0;">
            <span style="font-size: 15px;"><strong>*</strong>&nbsp;Cron logs are truncated after a month.</span>
        </div>
        <form name="formFilter">
            <div class="input-container">
                <label>Job:&nbsp;</label>
                <select required ng-model="vm.filter.job_id" ng-options="o.id as o.name for o in vm.cronJobs" ng-change="vm.getPeriods()" style="width:180px;"></select>
                <label>&nbsp;Date:&nbsp;</label>
                <select required ng-model="vm.filter.date" ng-options="o.start_time as o.start_time for o in vm.periods" style="width: 110px;"></select>
                <button type="submit" class="btn btn-sm btn-primary connectorbutton" ng-click="vm.search()" ng-disabled="formFilter.$invalid">
                    <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                </button>
            </div>
        </form>
    </div>

    <table class="table logtable" cellspacing="0" cellpadding="4">
        <tr>
            <th style="width:200px;">Start Time</th>
            <th>Response</th>
        </tr>
        <tr ng-repeat-start="log in vm.logs.data">
            <td>{{log.startTime | date:'yyyy/MM/dd HH:mm:ss'}}</td>
            <td>
                <span>{{log.truncateMessage}}</span>
                <span ng-if="log.response.length>170">
                    <a href='' ng-click="vm.toggle(log)">{{log.toggleMessage}}</a>
                </span>
            </td>
        </tr>
        <tr class="more-message" ng-repeat-end ng-if="log.response.length>170" ng-show="log.showMessage">
            <td colspan="4">{{log.response}}</td>
        </tr>
    </table>
    <ul class='pagination'>
        <li ng-repeat="p in vm.pager" ng-class="{active:p.value==vm.pageNo}">
            <a ng-click="vm.page(p.value)">{{p.text}}</a>
        </li>
    </ul>
</div>