<div ng-if="vm.offline" class="offline">
    <a ng-href="componentslog"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div class="datagrid">
        <form name="form">
            <div class="input-container">
                <label>From:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.fromDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>&nbsp;To:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.toDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>&nbsp;Client:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.client">
                <label>&nbsp;Server:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.server">
                <label>&nbsp;Status:&nbsp;</label>
                <select ng-model="vm.filter.status" ng-options="o as o for o in vm.status" style="width:60px;"></select>
                <label>&nbsp;Query:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.query"/>
                <button type="submit" class="btn btn-sm btn-primary connectorbutton" ng-click="vm.search()">
                    <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                </button>
            </div>
        </form>
    </div>
    <table class="table logtable" cellspacing="0" cellpadding="4">
        <tr>
            <th style="width: 200px">Time&nbsp;<sort-button property="LogTime" order="vm.order" ng-click="vm.search()"/>
                <!--<button class="btn btn-sm connectorbutton" ng-click="vm.sort('LogTime')"><span ng-show="vm.order=='NO'" class="glyphicon glyphicon-minus"></span><span ng-show="vm.order=='DESC'" class="glyphicon glyphicon-triangle-bottom"></span><span ng-show="vm.order=='ASC'" class="glyphicon glyphicon-triangle-top"></span></button>-->
            </th>
            <th style="width: 140px">Client&nbsp;<sort-button property="ClientHost" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width: 180px">Server&nbsp;<sort-button property="machine" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width: 75px">Status&nbsp;<sort-button property="servicestatus" order="vm.order" ng-click="vm.search()"/></th>
            <th style="width: 85px">Duration&nbsp;<sort-button property="processingtime" order="vm.order" ng-click="vm.search()"/></th>
            <th>Request&nbsp;<sort-button property="operation" order="vm.order" ng-click="vm.search()"/></th>
        </tr>
        <tr ng-repeat="log in vm.logs.rows">
            <td>{{log.LogTime | trim | date:'yyyy/MM/dd HH:mm:ss'}}</td>
            <td>{{log.ClientHost | trim}}</td>
            <td style="overflow: hidden;" title="{{log.machine | trim}}">{{log.machine | trim}}</td>
            <td>{{log.servicestatus | trim}}</td>
            <td>{{log.processingtime | trim}}</td>
            <td><span>{{log.operation | trim}}&nbsp;</span><span>{{log.target | trim}}</span><span ng-hide="(log.parameters | trim).length <= 1">?{{log.parameters | trim}}</span></td>
        </tr>
    </table>
    <ul class='pagination'>
        <li ng-repeat="p in vm.pager" ng-class="{active:p.value==vm.pageNo}">
            <a ng-click="vm.page(p.value)">{{p.text}}</a>
        </li>
    </ul>
</div>