<div ng-if="vm.offline" class="offline">
    <a ng-href="downloadlog"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div class="datagrid">
        <form>
            <div class="input-container">
                <label>Total Hits By Site&nbsp;</label>
                <input type="text" ng-model="vm.filter.totalHitsBySite"/>
                <label>&nbsp;NAF Hits By Site&nbsp;</label>
                <input type="text" ng-model="vm.filter.nafHitsBySite"/>
                <label>&nbsp;Total Form Submission By Site&nbsp;</label>
                <input type="text" ng-model="vm.filter.totalFormSubmissionBySite"/>
                <label>&nbsp;Client In use&nbsp;</label>
                <input type="text" ng-model="vm.filter.clientsInUse"/>
            </div>
            <div class="input-container">
                <label>From:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.fromDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>&nbsp;To:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.toDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <button type="submit" class="btn btn-sm btn-primary connectorbutton" ng-click="vm.search()">
                    <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                </button>
            </div>
        </form>
    </div>
    <table class="table logtable" style="table-layout: fixed" cellspacing="0" cellpadding="4">
        <tr>
            <th style="width:170px;">Date&nbsp;</th>
            <th style="width:100px;">Total Hits&nbsp;</th>
            <th style="width:100px;">NAF Hits&nbsp;</th>
            <th style="width:220px;">Total Hits By Site&nbsp;</th>
            <th style="width:220px;">NAF Hits By Site&nbsp;</th>
            <th style="width:260px;">Total Form Submission By Site&nbsp;</th>
            <th style="">Client In use&nbsp;</th>
        </tr>
        <tr ng-repeat="log in vm.logs.rows">
            <td>{{log.date | date:'yyyy/MM/dd HH:mm:ss'}}</td>
            <td>{{log.total_hits}}</td>
            <td>{{log.naf_hits}}</td>
            <td style="overflow: hidden; white-space:nowrap;" title="{{log.total_hits_by_site}}">{{log.total_hits_by_site}}</td>
            <td style="overflow: hidden; white-space:nowrap;" title="{{log.naf_hits_by_site}}">{{log.naf_hits_by_site}}</td>
            <td style="overflow: hidden; white-space:nowrap;" title="{{log.total_form_submission_by_site}}">{{log.total_form_submission_by_site}}</td>
            <td style="overflow: hidden; white-space:nowrap;" title="{{log.clients_in_use}}">{{log.clients_in_use}}</td>
        </tr>
    </table>
    <ul class='pagination'>
        <li ng-repeat="p in vm.pager" ng-class="{active:p.value==vm.pageNo}">
            <a ng-click="vm.page(p.value)">{{p.text}}</a>
        </li>
    </ul>
</div>