<div ng-if="vm.offline" class="offline">
    <a ng-href="apicustomer"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div class="datagrid">
        <div class="filterbox datagrid">
            <form name="form">
                <div class="input-container">
                    <label>&nbsp;Customer Name :&nbsp;</label>
                    <input type="text" class="grow" ng-model="vm.filter.customer_name">
                    <label>&nbsp;Host :&nbsp;</label>
                    <input type="text" class="grow" ng-model="vm.filter.db_host">
                    <label>&nbsp;Environment :&nbsp;</label>
                    <select ng-model="vm.filter.environment" ng-options="o as o for o in vm.environments" style="width: 150px;"></select>
                    <label style="width: 120px">&nbsp;<input type="radio" ng-model="vm.display" value="customer"> Customer</label>
                    <label style="width: 120px">&nbsp;<input type="radio" ng-model="vm.display" value="host"> Host</label>
                    <button class="btn btn-sm btn-primary" ng-click="vm.search()">
                        <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                    </button>
                </div>
            </form>
        </div>
        <div class="datagrid" ng-if="vm.display=='customer'" ng-show="vm.display == 'customer'">
            <table class="table table-hover proxygrid tbl-layout logtable" cellspacing="0" cellpadding="2">
                <colgroup>
                    <col/>
                    <col/>
                    <col style="width:170px;"/>
                    <col style="width:170px;"/>
                    <col style="width:170px;"/>
                </colgroup>
                <tr>
                    <th>Customer Name <sort-button property="customer_name" order="vm.order"/></th>
                    <th>Host Name <sort-button property="db_host" order="vm.order"/></th>
                    <th>Users Counts <sort-button property="users" order="vm.order"/></th>
                    <th>Cases counts <sort-button property="cases" order="vm.order"/></th>
                    <th>Environment <sort-button property="environment" order="vm.order"/></th>
                </tr>
                <tr ng-repeat="customer in vm.customers | orderBy:vm.order.property:vm.order.reverse">
                    <td style="overflow: hidden; white-space: nowrap;" title="{{customer.customer_name}}">{{customer.customer_name}}</td>
                    <td style="overflow: hidden; white-space: nowrap;" title="{{customer.db_host}}">{{customer.db_host}}</td>
                    <td style="overflow: hidden; white-space: nowrap;" title="{{customer.users}}">{{customer.users}}</td>
                    <td style="overflow: hidden; white-space: nowrap;" title="{{customer.cases}}">{{customer.cases}}</td>
                    <td style="overflow: hidden; white-space: nowrap;" title="{{customer.environment}}">{{customer.environment}}</td>
                </tr>
            </table>
        </div>
        <div class="datagrid" ng-repeat="host in vm.customers_host.hosts" ng-show="vm.display=='host'">
           <div class="host-title"><h3>{{host.name}}</h3></div> <span>Subtotal: {{host.total}}</span>
            <table class="table table-hover proxygrid tbl-layout logtable" cellspacing="0" cellpadding="2">
                <colgroup>
                    <col/>
                    <col/>
                    <col style="width:170px;"/>
                    <col style="width:170px;"/>
                    <col style="width:170px;"/>
                </colgroup>
                <tr>
                    <th>Customer Name <sort-button property="customer_name" order="vm.order"/></th>
                    <th>Host Name <sort-button property="db_host" order="vm.order"/></th>
                    <th>Users Counts <sort-button property="users" order="vm.order"/></th>
                    <th>Cases counts <sort-button property="cases" order="vm.order"/></th>
                    <th>Environment <sort-button property="environment" order="vm.order"/></th>
                </tr>
                <tr ng-repeat="customer in host.customers | orderBy:vm.order.property:vm.order.reverse">
                    <td style="overflow: hidden; white-space: nowrap;" title="{{customer.name}}">{{customer.name}}</td>
                    <td style="overflow: hidden; white-space: nowrap;" title="{{host.name}}">{{host.name}}</td>
                    <td style="overflow: hidden; white-space: nowrap;" title="{{customer.users}}">{{customer.users}}</td>
                    <td style="overflow: hidden; white-space: nowrap;" title="{{customer.cases}}">{{customer.cases}}</td>
                    <td style="overflow: hidden; white-space: nowrap;" title="{{customer.environment}}">{{customer.environment}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
