<div ng-if="vm.offline" class="offline">
    <a ng-href="limmonitor"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div class="datagrid">
        <form name="form">
            <div class="input-container">
                <label>LIM:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.lim"/>
                <label>&nbsp;Customer:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.customer"/>
                <label>&nbsp;URL:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.url"/>
                <label>&nbsp;Version:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.version"/>
                <label>&nbsp;Product:&nbsp;</label>
                <select ng-model="vm.filter.form">
                    <option value="">All</option>
                    <option value="Forms">Forms</option>
                    <option value="OAF">OAF</option>
                </select>
                <label>&nbsp;Result:&nbsp;</label>
                <select ng-model="vm.filter.result" ng-options="idx as value for (idx, value) in vm.resultCodes">
                    <option value="">All</option>
                </select>
                <button type="submit" class="btn btn-sm btn-primary connectorbutton" ng-disabled="form.$invalid"
                        ng-click="vm.search()">
                    <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                </button>
                <button class="btn btn-sm" ng-class="{'btn-warning':!vm.more,'btn-success':vm.more}" ng-click="vm.more=!vm.more">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </button>
            </div>
        </form>
    </div>
    <div class="datagrid">
        <table class="table logtable table-hover tbl-layout" cellspacing="0" cellpadding="2">
            <colgroup>
                <col style="width:150px;"/>
                <col style="width:190px;"/>
                <col/>
                <col style="width:100px;"/>
                <col style="width:175px;"/>
                <col style="width:100px;"/>
                <col style="width:150px;"/>
                <col style="width:130px;" ng-if="vm.more"/>
                <col style="width:140px;" ng-if="vm.more"/>
                <col style="width:130px;" ng-if="vm.more"/>
                <col style="width:140px;"/>
            </colgroup>
            <tr>
                <th>LIM <sort-button property="LIMName" order="vm.order"/></th>
                <th>Customer <sort-button property="CustomerName" order="vm.order"/></th>
                <th>URL <sort-button property="URL" order="vm.order"/></th>
                <th>Version <sort-button property="Version" order="vm.order"/></th>
                <th>Build <sort-button property="BuildDate" order="vm.order"/></th>
                <th>Product <sort-button property="Form" order="vm.order"/></th>
                <th>Result <sort-button property="Result" order="vm.order"/></th>
                <th ng-if="vm.more">Framework <sort-button property="Framework" order="vm.order"/></th>
                <th ng-if="vm.more">Software <sort-button property="Software" order="vm.order"/></th>
                <th ng-if="vm.more">Runtime <sort-button property="Runtime" order="vm.order"/></th>
                <th>Response <sort-button property="Response" order="vm.order"/></th>
            </tr>
            <tr ng-repeat-start="log in vm.logs.rows | orderBy:vm.order.property:vm.order.reverse">
                <td data-toggle="tooltip" style="overflow: hidden" title="{{log.LIMName}}">{{log.LIMName}}</td>
                <td data-toggle="tooltip" style="overflow: hidden" title="{{log.CustomerName}}">{{log.CustomerName}}</td>
                <td data-toggle="tooltip" style="overflow: hidden" title="{{log.URL}}">{{log.URL}}</td>
                <td>{{log.Version}}</td>
                <td>{{log.BuildDate | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                <td>{{log.Form}}</td>
                <td>{{vm.resultCodes[log.Result]}}</td>
                <td ng-if="vm.more">{{log.Framework}}</td>
                <td ng-if="vm.more">{{log.Software}}</td>
                <td ng-if="vm.more">{{log.Runtime}}</td>
                <td align="center"><a href='' ng-click="vm.toggle(log)">{{log.toggleMessage}}</a></td>
            </tr>
            <tr ng-repeat-end ng-if="log.Response" ng-show="log.showMessage" class="more-message">
                <td colspan="8">{{log.Response}}</td>
            </tr>
        </table>
    </div>
</div>