<modal-download-edit ng-cloak map="vm.modalDownloadEditMap" show="vm.modalDownloadEditShow" save="vm.saveClick" header="vm.modalDownloadEditTitle" loading="vm.modalDownloadLoading"></modal-download-edit>
<div ng-if="vm.offline" class="offline">
    <a ng-href="download"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div style="margin: 12px 0 15px 6px; padding: 0;">
        <span style="font-size: 15px;"><strong>*</strong>&nbsp;Used to maintain the downloads page for customers to download locally-installed components.</span>
        <br/>
        <span class="error-message">{{vm.failedMessage}}</span>
    </div>
    <div class="filterbox">
        <form>
            <div class="input-container">
                <label>Name:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.name">
                <label>&nbsp;URL:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.release_notes_url">
                <label>&nbsp;Notes:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.notes">
                <label>&nbsp;Latest Version:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.version">
                <label>&nbsp;Latest Release Date:&nbsp;</label>
                <input type="text" class="grow" ng-model="vm.filter.release_date">
                <button class="btn btn-sm btn-primary" ng-click="vm.refresh()">
                    <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                </button>
            </div>
        </form>
    </div>
    <div class="datagrid">
        <table class="table table-hover download-table logtable">
            <tr>
                <th style="width: 210px;">Name<sort-button property="name" order="vm.order"/></th>
                <th style="width: 360px;">Release Notes URL<sort-button property="release_notes_url" order="vm.order"/></th>
                <th style="width: auto;">Notes<sort-button property="notes" order="vm.order"/></th>
                <th style="width: 158px;">Latest Version<sort-button property="version" order="vm.order"/></th>
                <th style="width: 214px;">Latest Release Date<sort-button property="release_date" order="vm.order"/></th>
                <th style="width: 160px;" ng-if="root.hasWritePermission('Infrastructure', 'Download')"></th>
                <th style="width: 40px;"></th>
            </tr>
            <tr ng-repeat="component in vm.components | orderBy:vm.order.property:vm.order.reverse">
                <td title="{{component.name}}">{{component.name}}</td>
                <td title="{{component.release_notes_url}}">{{component.release_notes_url}}</td>
                <td title="{{component.notes}}" class="hide-overflow">{{component.notes}}</td>
                <td>{{component.version}}</td>
                <td>{{component.release_date}}</td>
                <td ng-if="root.hasWritePermission('Infrastructure', 'Download')">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="vm.editClick(component)">
                        <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
                    </button>
                    <button type="button" class="btn btn-sm btn-danger" ng-click="vm.deleteClick(component)">
                        <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>&nbsp;Delete
                    </button>
                </td>
                <td>
                    <a class="btn" ng-href="{{component.url}}" target="_blank"><i class="glyphicon glyphicon-save"></i></a>
                </td>
            </tr>
        </table>
        <div class="Addbutton" ng-if="root.hasWritePermission('Infrastructure', 'Download')">
            <button class="btn btn-sm btn-primary" ng-click="vm.addClick()">
                <span aria-hidden="true" class="glyphicon glyphicon-plus"></span> Add</button>
        </div>
    </div>
</div>