<div class="modal" ng-show="$ctrl.show" style="display: block; background-color: rgba(0,0,0,0.5)" ng-click="$ctrl.close()">
    <div class="modal-dialog" onclick="event.stopPropagation()" style="top: 120px !important;">
        <div class="modal-content">
            <form name="$ctrl.form">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{$ctrl.header}}</h4>
                </div>
                <div class="modal-body" style="height: 430px;">
                    <table class="table download-table">
                        <tr>
                            <td style="width:200px"><span class="error-message">*</span>&nbsp;Name :</td>
                            <td><input type="text" name="name" required ng-model="$ctrl.map.name"></td>
                            <td>
                                <span class="error-message" ng-show="$ctrl.form.name.$dirty && $ctrl.form.name.$error.required">Name required</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="error-message">*</span>&nbsp;Release Notes URL :</td>
                            <td><input type="url" name="url" required ng-model="$ctrl.map.release_notes_url"></td>
                            <td>
                                <span class="error-message" ng-show="$ctrl.form.url.$error.url">Must be a valid URL.</span>
                                <span class="error-message" ng-show="$ctrl.form.url.$dirty && $ctrl.form.url.$error.required">Release Notes URL required</span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;Notes :</td>
                            <td><textarea type="text" style="width:600px" ng-model="$ctrl.map.notes"></textarea></td>
                            <td></td>
                        </tr>
                    </table>
                    <table class="table download-table">
                        <tr>
                            <th style="width: 140px">Version <sort-button property="version" order="$ctrl.order"/></th>
                            <th style="width: 200px">Release Date <sort-button property="release_date" order="$ctrl.order"/></th>
                            <th style="width: auto">Download URL <sort-button property="url" order="$ctrl.order"/></th>
                            <th style="width: 70px">Public</th>
                            <th style="width: 40px"></th>
                            <th style="width: 40px"></th>
                        </tr>
                        <tr ng-repeat="version in $ctrl.map.versions | filter : {delete: '!true'} | orderBy:$ctrl.order.property:$ctrl.order.reverse" ng-form="versionForm">
                            <td>
                                <input type="text" required ng-model="version.version"/>
                            </td>
                            <td>
                                <input type="text" required pattern="\d{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01]) (0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]" placeholder="YYYY-MM-DD hh:mm:ss" ng-model="version.release_date"/>
                            </td>
                            <td>
                                <input type="url" name="url" required ng-model="version.url"/>
                            </td>
                            <td>
                                <input type="checkbox" ng-model="version.public" ng-true-value="1" ng-false-value="0"/>
                            </td>
                            <td>
                                <button class="btn btn-xs btn-danger" ng-click="$ctrl.remove($index)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                            <td>
                                <a class="btn" ng-href="{{version.url}}" ng-disabled="versionForm.url.$invalid"><i class="glyphicon glyphicon-save"></i></a>
                            </td>
                        </tr>
                    </table>
                    <button type="button" class="btn btn-default" ng-click="$ctrl.add()" ng-disabled="form.$invalid">Add Version</button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="$ctrl.save($ctrl.map)" ng-disabled="$ctrl.form.$invalid||$ctrl.form.$pristine">
                        <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>&nbsp;Save
                    </button>
                    <button type="button" class="btn btn-default" ng-click="$ctrl.close()">
                        <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>