<div ng-if="vm.offline" class="offline">
    <a ng-href="platformerrors"><img class="resize" src="../../style/offline.png"><img class="resize" src="../../style/refresh.png"><span style="font-size: 50px;">OFFLINE</span></a>
    <div class="offline-error">
        <h3>Infrastructure has an issue: </h3>
        <span>{{vm.offlineError}}</span>
    </div>
    <div class="offline-error">
        <h3>Suggestions:</h3>
        <ul style="list-style-type:disc; margin-left: 25px;">
            <li>Refresh the page</li>
            <li>Check Infrastructure server is online on Monitoring</li>
            <li>Check Infrastructure server is Healthy on AWS</li>
            <li>Check Route53 if DNS is correct</li>
            <li>Reboot Infrastructure server</li>
            <li>Contact NZ team to investigate</li>
        </ul>
    </div>
</div>

<div ng-if="!vm.offline">
    <div class="datagrid">
        <form>
            <div class="input-container">
                <label>From:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.fromDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>&nbsp;To:&nbsp;</label>
                <div class="input-date">
                    <input type="date" ng-model="vm.filter.toDate"/>
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
                <label>&nbsp;Error:&nbsp;</label>
                <input class="grow" type="text" ng-model="vm.filter.error" />
                <label>&nbsp;Location:&nbsp;</label>
                <input class="grow" type="text" ng-model="vm.filter.location" />
                <label>&nbsp;Host:&nbsp;</label>
                <input class="grow" type="text" ng-model="vm.filter.host" />
                <label>&nbsp;Server:&nbsp;</label>
                <input class="grow" type="text" ng-model="vm.filter.server" />
                <label>&nbsp;Folders:&nbsp;</label>
                <input class="grow" type="text" ng-model="vm.filter.request_folders" />
                <label>&nbsp;Params:&nbsp;</label>
                <input class="grow" type="text" ng-model="vm.filter.request_params" />
                <button type="submit" class="btn btn-sm btn-primary connectorbutton" ng-click="vm.search()">
                    <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>&nbsp;Search
                </button>
            </div>
        </form>
    </div>
    <table class="table logtable" style="table-layout: fixed" cellspacing="0" cellpadding="4">
        <tr>
            <th style="width:165px;">Date&nbsp;<sort-button property="when" order="vm.order" ng-click="vm.search()"/></th>
            <th>Error&nbsp;<sort-button property="error" order="vm.order" ng-click="vm.search()"/></th>
            <th>Location&nbsp;<sort-button property="location" order="vm.order" ng-click="vm.search()"/></th>
            <th>Host&nbsp;<sort-button property="host" order="vm.order" ng-click="vm.search()"/></th>
            <th>Server&nbsp;<sort-button property="server" order="vm.order" ng-click="vm.search()"/></th>
            <th>Request Folders&nbsp;<sort-button property="request_folders" order="vm.order" ng-click="vm.search()"/></th>
            <th>Request Params&nbsp;<sort-button property="request_params" order="vm.order" ng-click="vm.search()"/></th>
        </tr>
        <tr ng-repeat="log in vm.logs.rows">
            <td>{{log.when | date:'yyyy/MM/dd HH:mm:ss'}}</td>
            <td style="overflow: hidden; white-space:nowrap;" title="{{log.error}}">{{log.error}}</td>
            <td style="overflow: hidden; white-space:nowrap;" title="{{log.location}}">{{log.location}}</td>
            <td style="overflow: hidden; white-space:nowrap;" title="{{log.host}}">{{log.host}}</td>
            <td style="overflow: hidden; white-space:nowrap;" title="{{log.server}}">{{log.server}}</td>
            <td style="overflow: hidden; white-space:nowrap;" title="{{log.request_folders}}">{{log.request_folders}}</td>
            <td style="overflow: hidden; white-space:nowrap;" title="{{log.request_params}}">{{log.request_params}}</td>
        </tr>
    </table>
    <ul class='pagination'>
        <li ng-repeat="p in vm.pager" ng-class="{active:p.value==vm.pageNo}">
            <a ng-click="vm.page(p.value)">{{p.text}}</a>
        </li>
    </ul>
</div>